.hethong {
    &__store {
        padding: 15px 0;
        &--inner {
            margin: 0 -15px;
        }
    }
    &__store1 {
        width: 50%;
        padding: 0 15px;
        float: left;
        position: relative;
        &--inner {
            height: 200px;
            position: relative;
            background: #e3e1e5;
        }
        &--text {
            position: absolute;
            // top: 50%;
            // transform: translateY(-50%);
            // display: block;
            top: 35px;
            background: #e3e1e5;
            color: #585b5f;
            width: 100%;
            text-align: center;
            h3 {
                font-size: 28px;
                // font-family: 'Lato';
                margin: 0;
                font-weight: 500;
            }
            h2 {
                font-size: 48px;
                // font-family: 'Lato';
                margin: 0;
                font-weight: 500;
            }
            a {
                color: #009ad3;
                font-size: 18px;
                line-height: 35px;
            }
            img {
                padding-left: 5px;
            }
        }
    }
}