// Start: store

mixin store()
  .hethong__store
    .hethong__store--inner
      .hethong__store1
        .hethong__store1--inner
          .hethong__store1--text
            h3 Cửa hàng
            h2 Chuyên nghiệp
            a(href="") Xem video giới thiệu
              img(src="https://www.pega.com.vn/images/play-yt.png" alt="video")
      .hethong__store1
        .hethong__store1--inner
          .hethong__store1--text
            h3 Hệ thống
            h2 300 Showroom
      .clear-fix
// End: store
