.news__list {
    padding: 30px 0;
    &--inner {
        margin: 0 -15px;
        position: relative;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    .img {
        float: left;
        width: 30%;
        padding: 0 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        a {
            width: 100%;
            display: block;
        }
    }
    &--infor {
        float: right;
        width: 60%;
        padding: 0 15px;
    }
    .name {
        margin-top: 0;
        a {
            line-height: 34px;
            font-size: 20px;
            font-weight: normal;
            text-transform: uppercase;
            color: #222222;
        }
    }
    .date {
        margin: 10px 0;
        color: #555555;
        font-size: 16px;
    }
    .des {
        color: #555555;
        text-align: justify;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    .detail--view {
        margin: 10px 0 0;
        font-size: 16px;
        color: #1f2b7f;
        text-align: right;
        i {
            color: #1f2b7f;
            padding-left: 5px;
        }
    }
}