// Start: tintuc

mixin tintuc(imagedetail, urlimage,nameimage, nameh2, datenew, infor )
  .news__list
    .news__list--inner
      .img
        a(href=imagedetail)
          img(src=urlimage alt=nameimage)
      .news__list--infor
        h2.name 
          a(href=imagedetail)= nameh2
        .date 
          span Cập nhật: 
          span=datenew
        p.des= infor
        .detail--view
          a(href=imagedetail) Xem chi tiết
            i.fas.fa-angle-right

// End: tintuc
