.p-detail{
  max-width:1349px;
  margin:0 auto;
  &__video{
    text-align: center;
    background-color: #000;
    iframe{
      width: 1110px;
      height: 570px;
    }
  }
  &__path{
    height: 46px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
    li{
      display: inline-block;
      margin-left: 20px;
    }
    li:first-child{
      margin-left: 0;
      i{
        font-size: 28px;
        line-height: 46px;
        color:#3e9e54;
      }
    }
    li:nth-child(2){
      margin-left: 0;
      a{
        background-color: #3e9e54;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
      }
    }
    li:last-child{
      float:right;
      a{
        background-color: #ccc;
        color: #fff;
        font-size: 11px;
      }
    }
    a{
      display: inline-block;
      font-size: 14px;
      color: #404040;
      line-height: 46px;
      padding: 0 15px;
      vertical-align: text-top;
      &:hover{
        color: #3e9e54;
      }
    }
  }
  &__content{
    max-width:1220px;
    margin:0 auto;
  }
  &__inner{
    &:after{
      content:"";
      display: block;
      clear: both;
    }
    li{
      width:23%;
      float: left;
      margin: 0 1%;
      &:nth-child(2){
        margin-left:2%;
      }
      &:last-child{
        margin-right:0;
      }
    }
    li:first-child{
      padding: 30px 1.5%;
      background-color: #fcfcfc;
      box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.16);
    h1{
      display: block;
      font-size: 22px;
      margin-bottom: 20px;
      color: #3e9e54;
      font-weight: 500;
    }
   
    }
    h3{
      margin-top: 10px;
      margin-bottom:0;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      color: #404040;
      overflow: hidden;
    }
  }
  &__row{
    padding-top:20px;
    padding-bottom:20px;
    .title{
      margin-bottom:20px;
    }
  }
  &__row--col1{
    width:67%;
    float:left;
    &__item{
      position: relative;
      display:none;
    }
    &__item.setactive-main{
      display: block;
    }
    .col1__infor{
      position: absolute;
      left:40px;
      right:40px;
      bottom:30px;
      h3{
        font-size: 32px;
        color: #fff;
        font-weight: 500;
        margin: 0 0 10px 0;
      }
      p{
        font-size: 16px;
        line-height: 1.4;
        color: #c0c0c0;
        margin:0;
        border-top: 1px solid #fff;
      }
    }
  }
  &__row--col2{
    width:33%;
    float:left;
    li:first-child a{
      font-size:20px;
      font-weight: 500;
    }
    li{
      background-color: #e0e0e0;
    }
    li.setactive{
      padding-left: 12px;
      background: url(images/t_arrow-left-white.png) no-repeat 9.5% center #3e9e54;
      color: #fff;
    }
    a{
      display: block;
      font-size: 14px;
      line-height: 70px;
      text-transform: uppercase;
      font-weight: 400;
      margin-left: 35px;
      padding-left:9px;
    }
  }
}
.specifications{
  &__left{
    width:50%;
    float:left;
    padding: 30px 12px 0 12px;
  }
  &__right{
    width:50%;
    float:left;
    padding: 30px 12px 0 12px;
  }
  &__note{
    text-align: center;
    font-size: 11px;
    margin-bottom: 22px;
  }
  &__color{
    text-align: center;
    a{
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 1px solid #c4c4c4;
      margin-left: 10px;
    }
    a:first-child{
      background-color: #000;
    }
    a:nth-child(2){
      background-color: #FF0000;
    }
    a:nth-child(3){
      background-color:#fff;
    }
    a:nth-child(4){
      background-color:#000066;
    }
  }
  &__item{
    &__properties{
      width:35%;
      float:left;
    }
    &__value{
      width:65%;
      float: left;
      text-align: right;
    }
    &.specifications__item--title{
      padding-top: 5px;
      padding-left: 0;
      border-bottom: 1px solid #e0e0e0;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      background: none;
      strong{
        float:right;
        color: #3e9e54;
        font-weight: 500;
      }
      &:nth-child(1){
        margin-top: 0;
      padding-top: 0;
      }
    }
    margin-top: 10px;
    color: #404040;
    padding-left: 10px;
    font-size: 14px;
    overflow: hidden;
  }
}
//customScrollbar--byTuan
.specifications__inner{
  height: 460px;
  .mCSB_inside > .mCSB_container{
    margin-right: 20px;
  }
  .mCSB_dragger{
    height:271px !important;
    background-color:red;
    &.mCSB_dragger_onDrag .mCSB_dragger_bar{
      background-color:#999;
    }
    &:hover .mCSB_dragger_bar{
      background-color:#999;
    }
   .mCSB_dragger_bar{
    background-color:#999;
   }
  }
  .mCSB_scrollTools{
    width:3px;
  }
  .mCSB_draggerRail{
    background-color: #e0e0e0;
    width: 3px;
    border-radius: 999px;
  }
}
