.content__gioithieu{
	padding: 0 15px 0 15px;
	background: #fff;
	color: #555555;
    font-size: 15px;
	line-height: 24px;
	& article h2{
		line-height: 34px;
		font-size: 24px;
		text-transform: uppercase;
		color: #222222;
		font-weight:500;
		margin-top:0;
		padding-top:20px;
	}
	& article > img{
		margin-top:25px;
	}
	& > article > p{
		strong{
			color: #555555;
			font-size: 15px;
			line-height: 24px;
			font-weight: 400;
			display: block;
			text-align: center;
		}
		strong.capnhat__gioithieu--strong{
			text-align: left;
		}
	}
	&__left{
		width:40%;
		float:left;
		text-align: center;
		padding-top: 50px;
	}
	&__right{
		width: 60%;
		float: right;
		line-height: 24px;
		padding-left: 15px;
		padding-right: 15px;
		text-align: justify;
		strong{
			color: #000080;
			font-size:15px;
			font-weight: 500;
		}
		ul{
			list-style-type: disc;
		}
		li{
			color: #555555;
			font-size:14px;
			a{
				color: blue;
				text-decoration: underline;
				font-size: 14px;
    			font-weight: 500;
			}
		}
	}
	&__video{
		margin-top:50px;
		iframe{
			width:100%;
			height:500px;
		}
	}
	&__more{
		a{
			color:blue;
		}
	}
	.news-newer{
		padding-top:15px;
		padding-bottom:25px;
		.heading{
			text-transform: uppercase;
			font-size: 20px;
			margin: 10px 0;
			color: #222222;
			line-height: 34px;
		}
		a{
			color:blue;
			font-size: 12px;
			&:hover{
				text-decoration: underline;
			}
			&:focus{
				color:red;
			}
		}
		&__item__date{
			margin: 10px 0 10px 7px;
			color: #555555;
			font-size: 15px;
		}
	}
}
.wrap__gioithieu{
	padding: 20px 0 0 0;
	background: #f0f0f0;
}
.like-share{
	a {
			display: inline-block;
			line-height: 28px;
			margin-right: 5px;
			padding-left: 3px;
			padding-right: 3px;
			&:nth-child(1),&:nth-child(2){
				background: #577fbc;
				border: 1px solid #577fbc;
				color:#fff;
				border-radius: 5px;
				&:hover{
					background: #365899;
    			border: 1px solid #365899;
				}
			}
			&:nth-child(3){
				color: #db4437;
				width: 28px;
				text-align: center;
				border: 1px solid #ccc;
			}
	}
}
.capnhat__gioithieu{
	margin: 10px 0;
    color: #555555;
		font-size: 15px;
}
.kinhthua__gioithieu,.thuonghieu__gioithieu{
    color: #000080;
    font-size: 16px;
    font-style: italic;
    a {
	    text-decoration: underline;
	    color: #3e9e54;
	}
}