.products{
  background-color:#f0f0f0;
  &__banner{
    position: relative;
    .products__path{
      position: absolute;
      color: #FFF;
      bottom: 30px;
      left: 25%;
      li{
        display: inline-block;
        font-size:14px;
        height:20px;
        line-height: 20px;
        font-weight: 400;
        margin-right: 4px;
        i{
          font-size:9px;
        }
      }
      li:last-child{
        color: #ffdd00;
        font-weight: 500;
      }
    }
  }
}
.products__left{
  width: 21.8%;
  float:left;
}
.products__right{
  width:77.03%;
  float: right;
}
.products__item{
  margin-top:40px;
}
.products__filter{
  padding: 9px;
  background-color:#FFF;
  &__icon{
    display: none;
  }
  input[type="submit"]{
    display: block;
    width: 100%;
    margin: 20px auto 10px auto;
    height: 38px;
    font-size: 24px;
    line-height: 38px;
    background-color: #808080;
    color:#fff;
    cursor: pointer;
    border-radius: 5px;
    border:0;
    &:hover{
      background-color: #3e9e54;
    }
  }
}
.products__filter__inner{
  padding-left: 6px;
  h3{
    margin-top: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size:12px;
    font-weight: 300;
    line-height: 1;
    padding-bottom: 6px;
    color: #1f2b7f;
    border-bottom: 1px solid #e6e6e6;
  }
  label{
    cursor: pointer;
    font-size: 14px;
    display: block;
    span{
      display: inline-block;
      width:15px;
      height:15px;
      border:1px solid #ccc;
      background-color:transparent;
      margin-right: 10px;
      i{
        visibility: hidden;
        color:#2636a3;
      }
    }
  }
  input[type="checkbox"]{
    display: none;
  }
  input[type="checkbox"]:checked + label{
    color:#2636a3;
  }
  input[type="checkbox"]:checked + label i{
    visibility: visible;
  }
}
.news{
  margin-top: 25px;
  margin-bottom: 25px;
  .heading{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    span{
      display: block;
    }
    strong{
      color: #2636a3;
      display: block;
      margin: 8px 0 12px;
      font-weight: 500;
    }
  }
}
.news__list{
  padding:12px;
  background-color: #FFF;
  border-radius: 5px;
  border-bottom: 1px solid #c1b6b66b;
  &__item{
    border-bottom: 1px solid #cccccc;
    padding-top: 5px;
    padding-bottom: 5px;
    h3{
      margin: 0;
      a{
        display: block;
        text-transform: uppercase;
        line-height: 17px;
        color:#0000FF;
        font-size: 12px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      a:active{
        color:red;
      }
    }
    .news__item__img{
      width:80px;
      height:60px;
      float: left;
      margin-top: 10px;
      a{
        display: block;
      }
    }
    .news__item__infor{
      width: 160px;
      float: right;
      p{
        height: 78px;
        line-height: 16px;
        font-size: 12px;
        font-weight: 400;
        padding-left: 3px;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        a{
          
          color: #1f2b7f;
        }
      }
    }
  }
}