#tintucchitiet{
  background-color: #f0f0f0;
  .tintucchitiet{
    padding-top: 25px;
  }
  .link--modify{
    color:blue;
    text-decoration: underline;
  }
  h3{
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
  }
  .tintuc__content{
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .content__gioithieu{
    width: 75%;
  }
  .tintuc__gioithieu {
    width:25%;
  }
}