.store__address {
    padding-bottom: 30px;
    padding-top: 15px;
    &--detail {
        float: left;
        height: 35px;
        margin-bottom: 10px;
        font-size: 21px;
        // font-family: 'Lato';
        a {
            color: #585b5f;
        }
        span {
            color: #00ad55;
        }
    }
}

.hethong__store {
    padding: 15px 0;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom: 30px;
}