// Start: eachstore

mixin eachstore(mien, addr,textsearch, a,b,c,d,e,f,g,h,i,j,k)
  +store()
  .store__address
    .container_1230
      .store__address--detail
        a(href="")=mien 
        span=addr
      +search(textsearch, a,b,c,d,e,f,g,h,i,j,k)
      .clear-fix
  hr
// End: eachstore
