.list-store {
    &--box {
        padding: 0 15px;
        float: left;
        a {
            display: block;
        }
        &:hover {
            h4 {
                color: #00ad55;
            }
        }
    }
    &--infor {
        text-align: center;
        font-family: 'inherit', sans-serif;
        h4 {
            font-size: 18px;
            color: #222222;
            text-transform: uppercase;
            line-height: 1.5;
            font-weight: 500;
            margin: 10px 0;
        }
        h5 {
            font-size: 14px;
            color: #222222;
            line-height: 19px;
            font-weight: 500;
            margin: 10px 0;
        }
    }
}