// Start: storedetail

mixin storedetail(linkstore, urlimg,namestore, name, add, phone)
  .list-store--box
    a(href=linkstore)
      img(src=urlimg alt=namestore)
      .list-store--infor
        h4=name
        h5=add
        h5=phone
// End: storedetail
