.title {
	text-align: center;
	border-bottom: 2px solid #dddddd;
   h1{
   	position: relative;
   	height: 65px;
   	font-size: 38px;
		line-height: 65px;
		text-transform: uppercase;
		font-weight: 400;
    margin: 0;
    &:before {
	    content: "";
	    position: absolute;
	    height: 2px;
	    bottom: -2px;
	    left: 50%;
	    background: #ed3239;
	    width: 150px;
	    transform: translateX(-50%);
		}
   }
}