// Start: title

mixin title(title)
  //- Type:
  //-   title {string} - заголовок
  //-   mods {string}  - стилевые модификаторы
  //- Use:
        +title()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .title.title-wrap
    h1=title