/*********************
    - 2. General -
*********************/

html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.list-inline,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.list-inline li {
    @include dis(middle);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    border: none;
    vertical-align: middle;
}

.container {
    margin: 0px auto;
    max-width: 1280px;
}

.container_1170 {
    margin: 0px auto;
    max-width: 1170px;
}

.container_1920 {
    margin: 0px auto;
    max-width: 1920px;
}

.container_1230 {
    max-width: 1230px;
    margin: 0px auto;
}

.container_1100 {
    max-width: 1100px;
    margin: 0 auto;
}

.fleft,
.floatleft {
    float: left;
}

.fright,
.floatright {
    float: right;
}

.clear-fix,
.clearfix {
    clear: both;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 25%;
}

.col-8 {
    width: 66.67%;
}

.col-4 {
    width: 33.33%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.67%;
}

.col-7 {
    width: 58.33%;
}

[class^="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

input,
button {
    outline: transparent;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

button {
    cursor: pointer;
}

.container_1140 {
    max-width: 1140px;
    margin: auto;
}
.text-center{
    text-align: center;
}