@media screen and (max-width: 1366px) {
    //Khanh res
    #home {
        .centent-sanpham .row {
            margin: 0;
        }
    }
    #footer {
        .sanpham__footer {
            .row {
                margin: 0;
            }
        }
    }
    #lienhe {
        .row {
            margin: 0;
        }
    }
    //Tuan res
    #gioithieu,
    .products {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    //chuc fix p-detail
    .p-detail {
        .p-detail__row--col1 {
            img {
                width: 100%;
            }
        }
    }
    //end chuc fix p-detail
    //Chuc res
    #tin__tuc {
        .container {
            padding: 0 15px;
        }
    }
    #hethongdetail {
        .container_1230 {
            padding: 0 100px;
        }
    }
    //chuc fix tintucchitiet
    #tintucchitiet {
        .container {
            padding: 0 15px;
        }
        .right__box1--body a {
            margin-right: 15px;
        }
        .bg__inner img {
            height: 100%;
            width: unset;
        }
        .bg__inner li.active {
            margin-top: 5px;
        }
    }
    //endchuc fix tintucchititiet
}

//byTuan
@media screen and (max-width:1280px) {
    .p-detail {
        padding-left: 15px;
        padding-right: 15px;
        &__video iframe {
            width: 100%;
        }
    }
    .p-detail__row--col2 li.setactive {
        background-image: none;
        padding-left: 0;
    }
    .p-detail__row--col2 a {
        margin-left: 0;
        line-height: 40px;
    }
    .products__inner {
        .container {
            padding-left: 15px;
            padding-right: 15px;
        }
        .news__list__item {
            .news__item__img {
                float: unset;
                margin: 0 auto;
            }
            .news__item__infor {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    //Khanh res
    #header{
        .menu ul li{
            margin-left: 40px;
        }
        .contact ul, .menu ul{
            padding-right: 15px;
        }
    }
    //Tuan res
    //Chuc res
    #hethong {
        .container_1140 {
            padding: 0 15px;
        }
    }
    #hethongdetail {
        .container_1230 {
            padding: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    //Khanh res
    #home {
        .centent-sanpham {
            .row {
                margin: 0;
            }
        }
        .centent-sanpham {
            .products__item {
                padding: 0;
            }
        }
    }
    #header .menu ul li {
        margin-left: 30px;
    }
    #footer {
        .camket-baohanh {
            li {
                padding: 0 15px;
                &:first-child {
                    margin-left: 10px;
                }
            }
        }
        .sanpham__footer {
            .row {
                margin: 0;
            }
        }
    }
    //Tuan res
    //Chuc res
    #tin__tuc {
        .news__list--infor {
            width: 70%;
        }
    }
}

@media screen and (max-width: 980px) {
    //Khanh res
    #header {
        .logo-header{
            padding-left: 15px;
        }
        .contact ul{ padding-right: 15px;}
        .menu ul {
            padding-right: 15px;
            li {
            margin-left: 20px;
            }
        }
    }
    #footer {
        .bg-camket-baohanh {
            text-align: left;
        }
    }
    //Tuan res
    .p-detail__path li {
        margin-left: 0;
    }
    #gioithieu,
    #tintucchitiet {
        .right__box3 {
            line-height: 20px;
            .product {
                float: none;
                position: relative;
                top: unset;
                transform: unset;
                margin-left: auto;
                margin-right: auto;
            }
            .product__infor {
                width: 100%;
                float: none;
                padding-left: 15px;
                margin-top: 10px;
            }
        }
    }
    //Chuc res
    #tin__tuc {
        //chuc fix tin tuc
        .tin__tuc--left {
            width: 70%;
        }
        .fright {
            width: 30%;
        }
        .news__list .img {
            position: unset;
            top: unset;
            transform: unset;
            width: 100%;
            margin-bottom: 15px;
        }
        .img {
            img {
                width: 100%;
            }
        }
        .news__list--infor {
            width: 100%;
        }
        .news__list {
            padding-top: 0;
            border-bottom: none;
        }
        .tin__tuc--left li {
            margin-bottom: 5px;
        }
        .left__inner {
            padding: 10px;
        }
        // .right__box3 .product {
        //     margin-left: 15px;
        // }
        //end chuc fix tin tuc
    }
}

//byTuan
@media screen and (max-width:900px) {
    .p-detail__path {
        display: none;
    }
    #footer .camket-baohanh li {
      padding: 0 8px;
  }
}

@media screen and (max-width: 834px) {
    //byTuan
    .products__right {
        .col-4 {
            width: 50%;
        }
    }
    #footer {
        .camket-baohanh li {
            display: block;
            text-align: center;
            border: none;
        }
    }
    #home {
        .centent-sanpham .col-3 {
            width: 33.333%;
            margin-bottom: 20px;
        }
    }
    #hethong {
        .hethong__store1--text h2 {
            font-size: 40px;
        }
        .hethong__mien li {
            width: 100%;
        }
    }
    //Khanh res
    #header .menu ul li{
        margin-left: 15px;
    }
    //Tuan res
    //Chuc res
    #hethongdetail {
        .hethong__search {
            width: 50%;
        }
        .list-store--box {
            width: 33.3333%;
        }
        .list-store--box:nth-child(4n+1) {
            clear: unset;
        }
        .list-store--box:nth-child(3n+1) {
            clear: left;
        }
    }
}

@media screen and (max-width: 768px) {
    //Khanh res
    #header {
      .contact-menu{
        position: relative;
      }
        .menu-res {
            display: block;
            position: fixed;
            z-index: 9999;
        }
        .menu {
            position: absolute;
            width: 200px;
            transition: 0.5s;
            z-index: 9999;
            nav {
                height: 44px;
            }
            ul {
                position: fixed;
                display: block;
                padding: 0;
                width: 200px;
                z-index: 99;
                background: #3e9e54;
                text-align: center;
                right: 15px;
                top: -250px;
                transition: 0.5s;
                li {
                    color: #fff;
                    display: block;
                    border-bottom: 1px solid #0e0e0e47;
                    margin: 0;
                }
                &.active{
                  top: 75px;
                  transition: 0.5s;
                }                
            }
        }
        .contact ul {
            padding-right: 15px;
        }
        .logo-header {
            padding-bottom: 15px;
        }
    }
    #footer {
        .camket-baohanh ul {
            padding: 0 15px;
        }
        //chuc fix footer
        // .sanpham__footer .row {
        //     margin: 0;
        //     .col-2 {
        //         width: 33.333%;
        //         margin-bottom: 15px;
        //         &:nth-child(4),
        //         &:nth-child(5) {
        //             width: 50%;
        //         }
        //     }
        // }
        .camket-baohanh li {
            display: block;
            text-align: center;
            border: none;
        }
        .sanpham__footer .row {
            .col-2 {
                width: 50%;
            }
        }
        .camket-baohanh li:nth-child(3),
        .camket-baohanh li:first-child {
            margin-left: 0;
        }
        //end chuc fix footer
    }
    #lienhe {
        .col-6 {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    //Tuan res
    .p-detail__video iframe {
        height: 350px;
    }
    .p-detail__inner li {
        width: 48%;
        text-align: center;
    }
    .p-detail__inner li:nth-child(2) {
        margin-left: 1%;
    }
    .specifications__left,
    .specifications__right,
    .p-detail__row--col1,
    .p-detail__row--col2 {
        width: 100%;
        float: unset;
    }
    //chuc fix sản phẩm
    .products__left {
        width: 25%;
    }
    .products__right {
        width: 75%;
    }
    .products__filter {
        padding: 5px;
    }
    //end chuc fix sản phẩm
    //chuc fix tintucchitiet
    #tintucchitiet .right__box3 li {
        margin-top: unset;
        margin-bottom: 25px;
    }
    //end chuc fix tintucchitiet
    //---
    //page GioiThieu--byTuan
    #gioithieu,
    #tintucchitiet {
        .tintuc__gioithieu {
            width: 100%;
            float: none;
            margin-top: 50px;
        }
        .content__gioithieu {
            width: 100%;
            float: none;
            article h2 {
                text-align: center;
                padding-top: 25px;
            }
        }
        .right__box2 img {
            width: unset;
        }
        .right__box3 li {
            padding: 30px 15px;
            margin-top: 25px;
            float: left;
            width: 49%;
            border: 1px solid #ccc;
        }
        .right__box3 ul {
            overflow: hidden;
        }
        .right__box3 ul li:nth-child(2n):not(:first-child) {
            margin-left: 2%;
        }
        .right__box4 {
            display: none;
        }
        .content__gioithieu__video iframe {
            height: 375px;
        }
    }
    //Chuc res
    #tin__tuc {
        //chuc fix tin tuc
        .right__box3 .product {
            width: 33.3333%;
            margin-left: unset;
        }
        .right__box3 .product__infor {
            width: 60%;
        }
        //end fix tin tuc
    }
    #hethongdetail {
        .hethong__store1--text {
            h3 {
                font-size: 25px;
            }
            h2 {
                font-size: 35px;
            }
        }
    }
    #hethongeach {
        .hethong__search {
            width: 55%;
            float: left;
            margin-top: 10px;
        }
        .hethong__store1--text {
            h3 {
                font-size: 25px;
            }
            h2 {
                font-size: 35px;
            }
        }
        .depart {
            width: 60%;
        }
        .contact--infor {
            width: 40%;
            padding-top: 0px;
        }
    }
}

//chuc fix tin tuc
@media screen and (max-width: 720px) {
    #tin__tuc {
        .tin__tuc--left {
            width: 100%;
        }
        .fright {
            width: 100%;
        }
        .right__box4 {
            text-align: center;
            img {
                width: unset;
            }
        }
        .right__box3 li {
            padding: 35px 5px;
        }
        .right__box3,
        .right__box4 {
            width: 50%;
            float: left;
        }
        .tin__tuc--right::after {
            content: "";
            display: block;
            clear: both;
        }
        .tin__tuc--right {
            margin-bottom: 10px;
        }
        .right__box4 a img {
            width: 100%;
        }
        .right__box4 {
            padding-left: 15px;
        }
    }
    .products {
        &__banner .products__path {
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
        }
        &__left {
            width: 100%;
        }
        &__filter {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            transition: .3s;
            overflow: hidden;
            input[type="submit"] {
                display: none;
            }
            &__inner {
                width: 33.33%;
                float: left;
                &.products__filter__inner--modify {
                    max-height: 210px;
                    overflow-y: scroll;
                }
            }
            &__icon {
                display: block;
                text-align: center;
                border: 1px solid #ccc;
                font-size: 18px;
                cursor: pointer;
                padding-top: 10px;
                padding-bottom: 10px;
                i {
                    font-size: 25px;
                    margin-right: 10px;
                    color: #3e9e54;
                }
            }
            &__inner {
                display: none;
            }
            & div:nth-child(3n+2):not(:nth-child(2)) {
                clear: both;
            }
        }
        &__right {
            width: 100%;
            margin-top: 85px;
        }
        &__inner {
            position: relative;
            .container {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

//end chuc fix tin tuc
@media screen and (max-width: 667px) {
    //Khanh res
    #footer {
        .camket-baohanh li {
            padding: 0 20px;
        }
    }
    #header{
        .contact ul li.mar-right{
            margin-right: 0;
        }
    }
    #home {
        .centent-sanpham .col-3 {
            width: 50%;
        }
        .text-content__home {
            h5 {
                font-size: 16px;
            }
            h3 {
                font-size: 20px;
            }
        }
    }
    //Tuan res
    .p-detail__row--col1 .col1__infor h3 {
        font-size: 28px;
    }
    //Chuc res
    #hethongdetail {
        .hethong__search {
            width: 55%;
        }
    }
    #hethongeach {
        .depart {
            width: 100%;
        }
        .contact--infor {
            width: 100%;
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 640px) {
    //Khanh res
    #footer {
        .camket-baohanh li {
            padding: 0 10px;
        }
    }
    #lienhe {
        .col-6 {
            width: 100%;
        }
    }
    #header{
        .logo-header{
            width: 100%;
        }
         .contact-menu{
            width: 100%; 
            padding: 0 15px 10px 15px;
        }
        .contact ul {
            text-align: center;
            padding: 0;
        }
    }
    //byTuan res
    
    #tintucchitiet h3{
        font-size: 17px;
    }
    .news {
        margin-top: 50px;
        .heading {
            font-size: 18px;
        }
        &__list {
            // overflow: hidden;
            &__item {
                width: 50%;
                float: left;
                padding-left: 15px;
                padding-right: 15px;
                h3 a {
                    height: 34px;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                }
                &:nth-child(2n+1):not(:first-child) {
                    clear: both;
                }
            }
        }
    }
    .content__gioithieu {
        &__left {
            width: 100%;
        }
        &__right {
            width: 100%;
        }
    }
    //Chuc res
    #hethong {
        .hethong__store1--text {
            h3 {
                font-size: 25px;
            }
            h2 {
                font-size: 35px;
            }
        }
        .hethong__store1--inner {
            height: 180px;
        }
        .hethong__search--inner {
            width: 70%;
        }
    }
    //chuc fix san pham
    .products {
        ul.news__list::after {
            content: "";
            display: block;
            clear: both;
        }
        .news__list__item .news__item__img {
            width: unset;
            height: unset;
            a {
                display: block;
            }
            img {
                width: 100%;
                margin: 0;
            }
        }
        .news__list {
            border-bottom: none;
        }
    }
    //end chuc fix san pham
}

@media screen and (max-width: 568px) {
    //Khanh res
    #footer {
        .sanpham__footer .row {
            .col-2 {
                width: 50%;
            }
        }
    }
    #home {
        .title h1 {
            font-size: 24px;
        }
        .text-content__home {
            h5 {
                font-size: 14px;
            }
            h3 {
                font-size: 17px;
            }
        }
        .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
            height: 50px;
            width: 30px;
        }
        .owl-prev span:before{
            left: 10px;
            top: 15px;
            height: 20px;
            width: 20px;
        }
        .owl-next span:before{
            right: 10px;
            top: 15px;
            height: 20px;
            width: 20px;
        }
    }
    //Tuan res
    .content__gioithieu__video iframe {
        height: 350px;
    }
    #gioithieu,
    #tintucchitiet {
        .right__box3 {
            li {
                padding: 25px 15px;
            }
            .product {
                position: relative;
                top: unset;
                transform: unset;
                float: none;
                width: 100%;
            }
            .product__infor {
                width: 100%;
                float: none;
                text-align: center;
                margin-top: 15px;
            }
        }
    }
    //Chuc res
    //chuc fix tin tuc
    // #tin__tuc {
    //     .tin__tuc--left {
    //         width: 50%;
    //     }
    //     .fright {
    //         width: 50%;
    //     }
    //     .news__list .name a,
    //     .right__box3 .heading {
    //         line-height: 30px;
    //         font-size: 18px;
    //     }
    //     .left__inner {
    //         padding: 10px;
    //     }
    //     .right__box1--body a,
    //     .right__box2 a,
    //     .news__list .date,
    //     .news__list .des,
    //     .news__list .detail--view {
    //         font-size: 13px;
    //     }
    //     .news__list .name a,
    //     .right__box3 .heading {
    //         font-size: 15px;
    //     }
    //     .tin__tuc--left li {
    //         font-size: 13px;
    //     }
    //     .news__list .img,
    //     .news__list--infor {
    //         padding: 5px;
    //     }
    // }
    //end chuc fix tin tuc
    #hethong {
        .hethong__store1 {
            width: 100%;
            margin-bottom: 10px;
        }
        .hethong__mien--box {
            width: 50%;
            margin-bottom: 10px;
        }
        .hethong__mien--box:nth-child(2n+1) {
            clear: left;
        }
    }
    #hethongdetail {
        .hethong__search {
            width: 75%;
            float: left;
            margin-top: 10px;
        }
        .hethong__store1 {
            width: 100%;
            margin-bottom: 10px;
            &--inner {
                height: 170px;
            }
        }
        .list-store--box {
            width: 50%;
        }
        .list-store--box:nth-child(3n+1) {
            clear: unset;
        }
        .list-store--box:nth-child(2n+1) {
            clear: left;
        }
    }
    #hethongeach {
        .hethong__store1 {
            width: 100%;
            margin-bottom: 10px;
            &--inner {
                height: 170px;
            }
        }
        .hethong__search {
            width: 70%;
        }
    }
}

@media screen and (max-width: 480px) {
    //Khanh res
    #home {
        .whoarewe,
        .text-content__home {
            width: 100%;
        }
    }
    #header{
        .contact ul{
            width: 290px;
            margin: 0 auto;
        }
        .content__contact{
            padding: 0 15px;
        }
    }
    //chuc
    #hethong {
        .hethong__search--inner {
            width: 80%;
        }
    }
    #hethongdetail {
        .hethong__search {
            width: 80%;
        }
    }
    #hethongeach {
        .hethong__search {
            width: 80%;
        }
    }
    #tin__tuc {
        //chuc fix tin tuc
        // .tin__tuc--left {
        //     width: 100%;
        // }
        // .fright {
        //     width: 100%;
        // }
        // .right__box4 {
        //     text-align: center;
        //     img {
        //         width: unset;
        //     }
        // }
        // .right__box3 li {
        //     padding: 35px 5px;
        // }
        .right__box3,
        .right__box4 {
            width: unset;
            float: unset;
        }
        .right__box4 {
            padding-left: unset;
        }
        //end chuc fix tin tuc
        //tuan res
        .p-detail__row--col1 .col1__infor h3 {
            font-size: 22px;
        }
    }
}

@media screen and (max-width: 414px) {
    //Khanh res
    #home {
        .centent-sanpham .col-3 {
            width: 100%;
        }
    }
    //Tuan res
    .p-detail__row .title h1 {
        font-size: 24px;
    }
    .products__right .col-4 {
        width: 100%;
        .p-detail__row--col1 .col1__infor h3 {
            font-size: 18px;
        }
        .products__right .col-4 {
            width: 100%;
        }
        .p-detail__inner li {
            width: 100%;
        }
    }
    #gioithieu,
    #tintucchitiet {
        .right__box3 ul li {
            width: 100%;
            &:nth-child(2n):not(:first-child) {
                margin-left: 0;
                border-left: 1px solid #ccc;
            }
        }
        .content__gioithieu__left {
            display: none;
        }
        .content__gioithieu__right {
            width: 100%;
        }
        .content__gioithieu__video iframe {
            height: 250px;
        }
    }
    .p-detail__row--col1 .col1__infor {
        left: 10px;
        right: 0;
        h3 {
            font-size: 20px;
        }
    }
    //Chuc res
    #hethong {
        .hethong__search--inner {
            width: 90%;
        }
    }
    #hethongdetail {
        .hethong__search {
            width: 90%;
        }
    }
    #hethongeach {
        .hethong__search {
            width: 90%;
        }
        .store__address--detail {
            height: 50px;
            line-height: unset;
        }
    }
}

@media screen and (max-width: 360px) {
    //Chuc res
    #hethong {
        .hethong__search--inner {
            width: 100%;
        }
        .hethong__mien--box {
            width: 100%;
            margin-bottom: 10px;
        }
        .hethong__mien li {
            width: 50%;
        }
    }
    #hethongdetail {
        .hethong__search {
            width: 100%;
        }
    }
    #home{
        .title h1 {
            font-size: 24px;
        }
    }
    #hethongdetail {
        .list-store--box {
            width: 100%;
        }
        .list-store--box:nth-child(2n+1) {
            clear: unset;
        }
    }
    #hethongeach {
        .hethong__search {
            width: 100%;
        }
    }
    //Khanh res
    #footer {
        .sanpham__footer .row {
            .col-2 {
                width: 100%;
                &:nth-child(4),
                &:nth-child(5) {
                    width: 100%;
                }
            }
        }
    }
    #lienhe {
        .sodienthoai__lienhe,
        .email__lienhe {
            width: 100%;
        }
        .email__lienhe {
            padding-left: 0;
        }
        .sodienthoai__lienhe {
            padding-right: 0px;
        }
    }
    //Tuan res
    //Chuc res
}

@media screen and (max-width: 320px) {
    //Khanh res
    #footer {
        .camket-baohanh ul {
            padding: 0;
        }
    }
    //Tuan res
    .products__filter div:nth-child(3n+2):not(:nth-child(2)) {
        clear: unset;
    }
    .products__filter div:nth-child(2n+2):not(:nth-child(2)) {
        clear: both;
    }
    .products__filter__inner {
        width: 50%;
    }
    .news__list__item {
        width: 100%;
    }
    //Chuc res
}