.hethongdetail {
    &--inner {
        padding: 0 15px;
    }
    .store__address {
        padding-bottom: 30px;
        padding-top: 15px;
        &--detail {
            float: left;
            height: 35px;
            line-height: 35px;
            font-size: 21px;
            // font-family: 'Lato';
            a {
                color: #585b5f;
            }
            span {
                color: #00ad55;
            }
        }
    }
    .hethong__search {
        float: right;
        width: 40%;
        &--inner {
            margin: unset;
            width: unset;
        }
    }
    .hethong__store {
        padding: 15px 0;
    }
    hr {
        border: 0;
        border-top: 1px solid #eee;
        margin-bottom: 30px;
    }
    .list-store {
        margin: 0 -15px;
        &--box {
            width: 25%;
            margin-bottom: 15px;
            &:nth-child(4n+1) {
                clear: left;
            }
        }
        img {
            width: 100%;
        }
    }
}