.hethong {
    padding: 0 15px;
    &__mien {
        counter-reset: section 0;
        padding: 15px 0;
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid #19171717;
        &--inner {
            margin: 0 -15px;
        }
        &--box {
            width: 33.3333%;
            padding: 0 15px;
            float: left;
        }
        h3 {
            padding-bottom: 15px;
            font-size: 24px;
            margin: 0;
            a {
                color: #00ad55;
            }
        }
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            width: 50%;
            float: left;
            font-size: 18px;
            color: #585b5f;
            padding: 5px 0;
            padding-right: 10px;
            a:before {
                counter-increment: section;
                content: counter(section) ". ";
                cursor: pointer;
            }
            &:last-child {
                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }
            a {
                font-size: 15px;
                color: #585b5f;
                &:hover {
                    color: #00ad55;
                    font-size: 17px;
                }
            }
        }
    }
    .show {
        display: block;
    }
}