.hethongeach {
    padding: 0 15px;
    .hethong__search {
        float: right;
        width: 40%;
        &--inner {
            margin: unset;
            width: unset;
        }
    }
    .depart {
        width: 66.66667%;
        float: left;
    }
    .contact {
        margin-bottom: 60px;
        background: #f9f9f9;
        &--infor {
            width: 33.33333%;
            float: left;
            text-align: left;
            font-size: 24px;
            color: #585b5f;
            padding-top: 35px;
            font-size: 16px;
            padding-right: 15px;
            padding-left: 15px;
        }
        p {
            font-family: Arial;
            color: #000;
        }
    }
    .owl-theme .owl-nav {
        display: none;
    }
    .owl-dots {
        margin-top: 20px;
        margin-bottom: 15px;
        width: 100%;
        position: absolute;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
    }
    &__content {
        h2 {
            font-weight: 300;
            color: #000;
            margin-top: 0px;
            margin-bottom: 20px;
            font-size: 30px;
            text-align: center;
        }
    }
    .map {
        h3 {
            text-align: left;
            padding-left: 0px;
            padding-right: 0px;
            color: #000;
            font-size: 21px;
            text-transform: uppercase;
            padding-bottom: 20px;
            font-weight: 400;
        }
    }
}