.tin__tuc {
    background: #f0f0f0;
    &--content {
        padding: 20px 0;
    }
    &--inner {
        margin: 0 -5px;
    }
    &--left {
        width: 75%;
        padding: 0 5px;
        ul {
            text-align: right;
            margin-top: 15px;
        }
        li {
            background-color: #e6e6e6;
            border-radius: 3px;
            display: inline-block;
            font: 13px/26px Arial;
            height: 26px;
            margin: 0 2px;
            min-width: 15px;
            padding: 0 8px;
            text-align: center;
            cursor: pointer;
            span {
                padding: 0 5px;
            }
            &:hover {
                background-color: #3e9e54;
                a {
                    color: #fff;
                }
            }
        }
    }
    .left__inner {
        padding: 20px;
        background: #fff;
    }
    .tintuc__right {
        width: 25%;
    }
    //chuc fix tin tuc
    .news__list {
        padding: 30px 0;
        border-radius: unset;
    }
    //chuc fix tin tuc
}