extends _layouts/layout
block content
  section.p-detail
    .p-detail__video
      <iframe width="560" height="315" src="https://www.youtube.com/embed/gZC2F37qcJ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    .p-detail__path
      ul
        li: a(href="#"): i.fas.fa-home
        li: a(href="#") ALPHA Samurai 2
        li: a(href="#p-detail--feature") Đặc điểm nổi bật
        li: a(href="#p-detail--specifications") Thông số kỹ thuật
        li: a(href="#p-detail--overall") Thiết kế & Tính năng
        li: a(href="#") So sánh sản phẩm
        li: a(href="#header") Đầu trang
    //- end p-detail__path
    .p-detail__content
      .p-detail__row#p-detail--feature
        +title('đặc điểm nổi bật')
        ul.p-detail__inner
          li: h1 ALPHA Samurai 2
          li
            img(src="images/XeDapDen.JPG" alt="dk-samurai")
            h3 Samurai tinh thần võ sỹ đạo
          li
            img(src="images/XeDapDo.jpg" alt="dk-samurai")
            h3 đăng ký nhanh chóng - dễ dàng - không cần biển số
          li
            img(src="images/XeDapTrang.jpg" alt="dk-samurai")
            h3 siêu tiết kiệm - siêu linh hoạt
      //- end #p-detail--feature
      .p-detail__row#p-detail--specifications
        +title('thông số kỹ thuật')
        .specifications__left
          .specifications__img
            img(src="images/dk-samurai-2-F8527G-black.png" alt="samurai")
          p.specifications__note Ghi chú: Hình ảnh minh họa có thể khác với thực tế.
          .specifications__color
              a(href="#" title="Màu đen" img-src="images/dk-samurai-2-F8527G-black.png")
              a(href="#" title="Màu đỏ" img-src="images/dk-samurai-2-F8527G-red.png")
              a(href="#" title="Màu trắng" img-src="images/dk-samurai-2-F8527G-white.png")
              a(href="#" title="Màu tím than" img-src="images/dk-samurai-2-F8527G-purplecoal.png")
        .specifications__right
          .specifications__inner
            .specifications__item.specifications__item--title
              |Giá bán từ:
              strong 12.900.000 VNĐ
            .specifications__item.specifications__item--title
              |Thông tin chung
            .specifications__item
              .specifications__item__properties
                |Hãng xe
              .specifications__item__value
                |ALPHABike
            .specifications__item
              .specifications__item__properties
                |Chủng loại
              .specifications__item__value
                |Hàng láp ráp trong nước
            .specifications__item
              .specifications__item__properties
                |Năm sản xuất
              .specifications__item__value
                |Năm 2018
            .specifications__item
              .specifications__item__properties
                |Bảo hành khung xe
              .specifications__item__value
                |3 năm
            .specifications__item
              .specifications__item__properties
                |Bảo hành ác quy,pin
              .specifications__item__value
                |1 năm
            .specifications__item
              .specifications__item__properties
                |Bảo hành Sạc, IC, Động cơ
              .specifications__item__value
                |2 năm
            .specifications__item.specifications__item--title
              |ngoại hình
            .specifications__item
              .specifications__item__properties
                |Chiều dài x Chiều rộng x Chiều cao
              .specifications__item__value
                |1640mm x 640mm x 1200mm
            .specifications__item
              .specifications__item__properties
                |Chiều cao yên xe
              .specifications__item__value
                |750 mm
            .specifications__item
              .specifications__item__properties
                |Đường kính bánh xe
              .specifications__item__value
                |Lốp: 426mm - Vành: 270mm
            .specifications__item
              .specifications__item__properties
                |Mầu sắc có bán
              .specifications__item__value
                |Đỏ, Đen, Xanh cửu long, Trắng, Ghi
            .specifications__item.specifications__item--title
              |đặc điểm
            .specifications__item
              .specifications__item__properties
                |Công suất thực tế động cơ
              .specifications__item__value
                |800W
            .specifications__item
              .specifications__item__properties
                |Vận hành
              .specifications__item__value
                |Tự động hoàn toàn
            .specifications__item
              .specifications__item__properties
                |Vận tốc tối da
              .specifications__item__value
                |55 km/h
            .specifications__item
              .specifications__item__properties
                |Tải trọng
              .specifications__item__value
                |180 kg
            .specifications__item
              .specifications__item__properties
                |Trọng lượng xe
              .specifications__item__value
                |80 kg
            .specifications__item
              .specifications__item__properties
                |Km tối đa đi được khi pin đầy
              .specifications__item__value
                |60-70km/ 1 lần sạc
            .specifications__item
              .specifications__item__properties
                |Sạc điện
              .specifications__item__value
                |Tự động ngắt khi acquy đầy
            .specifications__item.specifications__item--title
              |bộ lọc
            .specifications__item
              .specifications__item__properties
                |Loại phanh
              .specifications__item__value
                |Phanh cơ
            .specifications__item
              .specifications__item__properties
                |Công suất
              .specifications__item__value
                |48V
            .specifications__item
              .specifications__item__properties
                |Đối tượng sử dụng
              .specifications__item__value
                |Học sinh - Sinh viên
        //- end specifications__right
        .clearfix
      //- end #p-detail--specifications
      .p-detail__row#p-detail--overall
        +title('tổng thể xe')
        ul.p-detail__row--col1
          li.p-detail__row--col1__item.setactive-main
            img(src="images/t_samurai-tinh-than-vo-sy-dao-3CnLb6-98-2.png" alt="samurai")
            .col1__infor
              h3 SAMURAI TINH THẦN VÕ SỸ ĐẠO
              p Thiết kế thon gọn, phiên bản Samurai 2018 mang đến sự khác biệt
          li.p-detail__row--col1__item
            img(src="images/t_he-thong-giam-soc-toi-uu-3CnLb6-98-2.png" alt="samurai")
            .col1__infor
              h3 HỆ THỐNG GIẢM SÓC TỐI ƯU
              p Trang bị hệ thống giảm sóc cao cấp giúp xe di chuyển trên mọi địa hình êm ái
        .p-detail__row--col2
          ul
            li.setactive
              a(href="") samurai tinh thần võ sỹ đạo
            li
              a(href="")
                span 1
                |. hệ thống giảm sóc tối ưu
        .clearfix
      .p-detail__row#p-detail--vehicledetail
        +title('chi tiết xe')
        ul.p-detail__row--col1
          li.p-detail__row--col1__item.setactive-main
            img(src="images/t_dong-co-manh-me-8P8ekS-98-3.png" alt="samurai")
            .col1__infor
              h3 ĐỘNG CƠ MẠNH MẼ
              p Trang bị động cơ thế hệ mới, phiên bản 2018 khẳng định sự vượt trội
          li.p-detail__row--col1__item
            img(src="images/t_nut-p-thong-minh-8P8ekS-98-3.png" alt="samurai")
            .col1__infor
              h3 NÚT P THÔNG MINH
              p Trang bị nút bấm "P" chế độ dừng đỗ an toàn
          li.p-detail__row--col1__item
            img(src="images/t_mat-dong-ho-dien-tu-778fU2-98-3.png" alt="samurai")
            .col1__infor
              h3 MẶT ĐỒNG HỒ ĐIỆN TỬ
              p Mặt đồng hồ điện tử hiện thị thông số
        .p-detail__row--col2
          ul
            li.setactive
              a(href="") động cơ mạnh mẽ
            li
              a(href="")
                span 1
                |. Nút P thông minh
            li
              a(href="")
                span 2
                |. MẶT ĐỒNG HỒ ĐIỆN TỬ
        .clearfix
      //- end #p-detail--vehicledetail
      .p-detail__row#p-detail--operation
        +title('vận hành')
        ul.p-detail__row--col1
          li.p-detail__row--col1__item.setactive-main
            img(src="images/t_van-hanh-nhanh-chong-tien-ich-PgjUrf-98-4.png" alt="samurai")
            .col1__infor
              h3 VẬN HÀNH NHANH CHÓNG TIỆN ÍCH
              p Cự ly di chuyển 75km
          li.p-detail__row--col1__item
            img(src="images/t_tiet-kiem-toi-da-jtkUuQ-98-4.png" alt="samurai")
            .col1__infor
              h3 TIẾT KIỆM TỐI ĐA
              p
        .p-detail__row--col2
          ul
            li.setactive
              a(href="") vận hành nhanh chóng tiện ích
            li
              a(href="")
                span 1
                |. Tiết kiệm tối đa
        .clearfix
      //- end #p-detail--operation
    .clearfix