extends _layouts/layout
block content
	section#gioithieu
		+bg-title("gioithieu.html","Giới thiệu","images/t_bg__gioithieu.png","gioithieu dk bike")
		.wrap__gioithieu
			.container
				section.content__gioithieu
					article
						h2 GIỚI THIỆU VỀ ALPHABIKE
						.like-share
							a(href="#").like__gioithieu
								span
									i.far.fa-thumbs-up
									span Thích
									span  7
							a(href="#").share Chia sẻ
							a(href="#").gg-plus: i.fab.fa-google-plus-g
						p.capnhat__gioithieu
							strong.capnhat__gioithieu--strong
								span Cập nhật:
								span  02/09/2018
						p.kinhthua__gioithieu Kính thưa: Khách hàng & Quý đối tác
						p.thuonghieu__gioithieu
							span Thương hiệu ALPHABike được thành lập vào năm 2009, tới năm 2014 đổi tên thành ALPHA Việt Nhật cũng thời gian này, thương hiệu XE ĐẠP ĐIỆN,
							span: a(href="sanpham.html")  xe máy điện,
							span  XE ĐIỆN ALPHABIKE đã được chính thức ra mắt tại Việt Nam.
						img(src="images/k_slide5a.jpg" alt="dkbike")
						.content__gioithieu__row
							.content__gioithieu__left
								img(src="images/t_gioithieu3.png" alt="dkbike")
							.content__gioithieu__right
								p: strong XE ĐẠP ĐIỆN ALPHABIKE ĐÃ RA ĐỜI NHƯ THẾ NÀO?
								ul
									li Vấn đề ô nhiễm môi trường đã trở thành một vấn đề đáng báo động trên toàn cầu và đặc biệt là ở những quốc gia đang phát triển như Việt Nam thì tình trạng ô nghiễm môi trường từ những hoạt động của con người đã trở thành nỗi lo sợ của mỗi người dân Việt.
									li Hàng ngày, chúng ta luôn phải đối mặt với những nguy cơ ô nhiễm làm ảnh hưởng nghiệm trọng tới chất lượng sống như ô nhiễm tiếng ồn, ô nhiễm khói bụi…Với mong muốn mang tới một giải pháp giao thông thân thiện với môi trường và an toàn cho người sử dụng, Công ty TNHH MTV xe điện ALPHA Việt Nhật đã nghiên cứu và đưa ra thị trường sản phẩm &nbsp;<strong><a href="#">Xe đạp điện</a></strong>&nbsp;ALPHABIKE -  loại phương tiện di chuyển an toàn và thông minh, có khả năng cải thiện tình trạng môi trường, đem tới cho con người một bầu không khí trong lành.
							.clearfix
						.content__gioithieu__row
							.content__gioithieu__left
								img(src="images/t_gioithieu4.jpg" alt="dkbike")
							.content__gioithieu__right
								p: strong VÌ SAO XE ĐIỆN ALPHABIKE LÀ LỰA CHỌN TỐT NHẤT CỦA BẠN?
								ul
									li Là một giải phương tiện thông minh của thời đại mới, XE ĐẠP ĐIỆN ALPHABIKE hoạt động bằng nguồn năng lượng sạch không những có thể giúp bảo vệ môi trường, sức khỏe của con người mà còn có khả năng tiết kiệm chi phí tối đa. Sản phẩm ALPHABIKE hội tụ đầy đủ các yếu tố tốt nhất xứng đáng để các bạn lựa chọn như thiết kế sành điệu nhỏ gọn, khả năng di chuyển trên quãng đường xa, giá thành hợp lý…và rất nhiều lý do khác. Để có được một sản phẩm đạt những tiêu chí hoàn hảo như vậy, ALPHABIKE đã không ngừng cố gắng cải thiện và nâng cao chất lượng sản phẩm, dịch vụ với người tiêu dùng Việt.
									li Trong nỗ lực hoàn thiện sản phẩm của mình, ALPHABIKE đã mạnh dạn đầu tư các nhà máy sản xuất ngay tại Việt Nam, đem công nghệ Nhật về tới đất Việt, trực tiếp sản xuất và lắp ráp sản phẩm ngay tại Việt Nam. Mỗi sản phẩm XE ĐẠP ĐIỆN, XE MÁY ĐIỆN của ALPHABIKE đến tay người tiêu dùng đều được trải qua quy trình khắt khe nhất về chất lượng của Nhật Bản. ALPHABIKE tự hào là một trong những thương hiệu đầu tiên thực hiện nghiêm chỉnh quy định của Nhà nước về đăng kiểm và đạt các tiêu chuẩn cho phép hoạt động của phương tiện xe điện ALPHABIKE.
							.clearfix
						.content__gioithieu__row
							.content__gioithieu__left
								img(src="images/t_gioithieu5.jpg" alt="dkbike")
							.content__gioithieu__right
								p: strong SỨ MỆNH VÀ KHÁT VỌNG CỦA XE ĐẠP ĐIỆN ALPHABIKE
								ul
									li “Sự thay đổi sẽ đem đến những điều tốt đẹp hơn”, ALPHABIKE với nỗ lực không ngừng nghỉ của mình luôn mong muốn đem đến cho người tiêu dùng những sản phẩm tốt hơn mỗi ngày và quan trọng hơn cả đó chính là khát khao đem đến cho Việt Nam một môi trường sống tốt hơn bằng việc thay đổi nhận thức của người dân Việt trong việc lựa chọn phương tiện di chuyển hằng ngày. Với sản phẩm xe điện thông minh, ALPHABIKE nói không với khói bụi, nói không với ô nhiễm tiếng ồn.
									li Công ty TNHH MTV xe điện ALPHA Việt Nhật mong muốn những sản phẩm mang thương hiệu Xe đạp điện ALPHABIKE sẽ có thể đóng góp cho xã hội, giúp cho Việt Nam trở thành một trong những quốc gia tích cực nhất trong việc bảo vệ môi trường, và từ đó có thể giúp người dân Việt Nam có một cuộc sống tốt đẹp hơn. Chúng tôi nuôi hy vọng và mong chờ sản phẩm của mình sẽ trải một màu xanh đẹp đẽ trên mọi cung đường của đất nước cũng như có thể gieo trồng  được mầm xanh vào suy nghĩ, tư tưởng của tất cả người dân Việt.
							.clearfix
						//- end content__gioithieu__row
						img(src="images/t_gioithieu6.jpg", alt="dkbike")
						img(src="images/t_gioithieu7.jpg", alt="dkbike")
						img(src="images/hồ sơ năng lực DKBike 2018-22.jpg", alt="dkbike")
						p: strong SẢN PHẨM BÁN CHẠY NHẤT NĂM 2017 - ALPHA ROMA - ĐỘC QUYỀN KIỂU DÁNG, CHỨNG NHẬN ĐĂNG KIỂM.
						img(src="images/hồ sơ năng lực DKBike 2018-27.jpg", alt="dkbike")
						img(src="images/hồ sơ năng lực DKBike 2018-28.jpg", alt="dkbike")
						img(src="images/hồ sơ năng lực DKBike 2018-29.jpg", alt="dkbike")
						img(src="images/hồ sơ năng lực DKBike 2018-30.jpg", alt="dkbike")
						img(src="images/t_gioithieu13.jpg", alt="dkbike")
						.content__gioithieu__video
							iframe(src="https://www.youtube.com/embed/0hf1cB0d1aI", frameborder="0")
						.content__gioithieu__more
							ul
								li
									|Tìm kiếm gần 1000 showroom, Đại lý ALPHABIKE chính hãng 
									a(href="#" target="_blank") Tại đây
								li
									|Fanpage: 
									a(href="#" target="_blank") https://www.facebook.com/ALPHABIKE.vn
									|- Website: 
									a(href="#" target="_blank") https://ALPHABIKE.vn | http://ALPHABIKE.Com
								li
									|Hỗ trợ khách hàng 
									a(href="#" target="_blank") hotro@ALPHABIKE.vn
									|- Hotline 
									b: a(href="#") 0901580209
						//- end content__gioithieu__more
						.content__comment
						.news-newer
							p.heading Tin mới hơn
							-for(i=0;i<10;i++)
								.news-newer__item
									a(href="#") Hãng xe điện ALPHABIKE hướng dẫn cách lái xe an toàn
									span.news-newer__item__date (05/11/2018)