extends _layouts/layout
block content
	section#hethong.hethong
		+store()
		+search(" Nhập tỉnh thành tìm kiếm ...","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang")
		
		.hethong__mien
			.container_1140
				.hethong__mien--inner
					.hethong__mien--box
						h3  
							a(href="#") Miền Bắc
						ul
							li
								a(href="hethongphanphoidetail.html") Hồ Chí Minh
							li
								a(href="hethongphanphoidetail.html") Hồ Chí Minh
							li
								a(href="hethongphanphoidetail.html") Hồ Chí Minh
							li
								a(href="hethongphanphoidetail.html") Hồ Chí Minh
							li
								a(href="hethongphanphoidetail.html") Hồ Chí Minh
							li
								a(href="hethongphanphoidetail.html") Hồ Chí Minh
							li
								a(href="hethongphanphoidetail.html") Hồ Chí Minh
							li
								a(href="hethongphanphoidetail.html") Hồ Chí Minh
							li
								a(href="hethongphanphoidetail.html") Hồ Chí Minh
					.hethong__mien--box
						h3 
							a(href="#") Miền Trung
						ul
							li
								a(href="hethongphanphoidetail.html") Thừa Thiên-Huế
							li
								a(href="hethongphanphoidetail.html") Thừa Thiên-Huế
							li
								a(href="hethongphanphoidetail.html") Thừa Thiên-Huế
							li
								a(href="hethongphanphoidetail.html") Thừa Thiên-Huế
							li
								a(href="hethongphanphoidetail.html") Thừa Thiên-Huế
							li
								a(href="hethongphanphoidetail.html") Thừa Thiên-Huế
							li
								a(href="hethongphanphoidetail.html") Thừa Thiên-Huế
							li
								a(href="hethongphanphoidetail.html") Thừa Thiên-Huế
					.hethong__mien--box
						h3 
							a(href="#") Miền Nam
						ul
							li
								a(href="hethongphanphoidetail.html")  Bà Rịa - Vũng Tàu
							li
								a(href="hethongphanphoidetail.html")  Bà Rịa - Vũng Tàu
							li
								a(href="hethongphanphoidetail.html")  Bà Rịa - Vũng Tàu
							li
								a(href="hethongphanphoidetail.html")  Bà Rịa - Vũng Tàu
							li
								a(href="hethongphanphoidetail.html")  Bà Rịa - Vũng Tàu
							li
								a(href="hethongphanphoidetail.html") Bà Rịa - Vũng Tàu
							li
								a(href="hethongphanphoidetail.html")  Bà Rịa - Vũng Tàu
							li
								a(href="hethongphanphoidetail.html")  Bà Rịa - Vũng Tàu
							li
								a(href="hethongphanphoidetail.html")  Bà Rịa - Vũng Tàu
							li
								a(href="hethongphanphoidetail.html")  Bà Rịa - Vũng Tàu
					.clear-fix
