extends _layouts/layout
block content
	section#hethongdetail.hethongdetail
		.hethongdetail--inner
			+store()
			.store__address
				.container_1230
					.store__address--detail
						a(href="") Miền Bắc | 
						span Hà Nội
					+search(" Nhập tỉnh thành tìm kiếm ...","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang")
					.clear-fix
			hr
			.list
				.container_1230
					.list-store
						+storedetail("hethongeachstore.html","https://www.pega.com.vn/images/thanh-pho_03.jpg" ,"anh","Đại lý Chiến Thuyên"," Địa chỉ: 216 Đường Lê Lợi- TT  Địa chỉ: 216 Đường Lê Lợi- TT Vân Đình- Huyện Ứng Hòa","Hotline: 0979.495.333")
						+storedetail("hethongeachstore.html","https://www.pega.com.vn/images/thanh-pho_03.jpg" ,"anh","Đại lý Chiến Thuyên"," Địa chỉ: 216 Đường Lê Lợi- TT Vân Đình- Huyện Ứng Hòa","Hotline: 0979.495.333")
						+storedetail("hethongeachstore.html","https://www.pega.com.vn/images/thanh-pho_03.jpg" ,"anh","Đại lý Chiến Thuyên"," Địa chỉ: 216 Đường Lê Lợi- TT Vân Đình- Huyện Ứng Hòa","Hotline: 0979.495.333")
						+storedetail("hethongeachstore.html","https://www.pega.com.vn/images/thanh-pho_03.jpg" ,"anh","Đại lý Chiến Thuyên"," Địa chỉ: 216 Đường Lê Lợi- TT Vân Đình- Huyện Ứng Hòa","Hotline: 0979.495.333")
						+storedetail("hethongeachstore.html","https://www.pega.com.vn/images/thanh-pho_03.jpg" ,"anh","Đại lý Chiến Thuyên"," Địa chỉ: 216 Đường Lê Lợi- TT Vân Đình- Huyện Ứng Hòa","Hotline: 0979.495.333")
						+storedetail("hethongeachstore.html","https://www.pega.com.vn/images/thanh-pho_03.jpg" ,"anh","Đại lý Chiến Thuyên"," Địa chỉ: 216 Đường Lê Lợi- TT Vân Đình- Huyện Ứng Hòa","Hotline: 0979.495.333")
						+storedetail("hethongeachstore.html","https://www.pega.com.vn/images/thanh-pho_03.jpg" ,"anh","Đại lý Chiến Thuyên"," Địa chỉ: 216 Đường Lê Lợi- TT Vân Đình- Huyện Ứng Hòa","Hotline: 0979.495.333")
						+storedetail("hethongeachstore.html","https://www.pega.com.vn/images/thanh-pho_03.jpg" ,"anh","Đại lý Chiến Thuyên"," Địa chỉ: 216 Đường Lê Lợi- TT Vân Đình- Huyện Ứng Hòa","Hotline: 0979.495.333")
						+storedetail("hethongeachstore.html","https://www.pega.com.vn/images/thanh-pho_03.jpg" ,"anh","Đại lý Chiến Thuyên"," Địa chỉ: 216 Đường Lê Lợi- TT Vân Đình- Huyện Ứng Hòa","Hotline: 0979.495.333")
						.clear-fix