extends _layouts/layout
block content
	section#hethongeach.hethongeach
		+eachstore("Miền Bắc | Hải Dương | ", "PEGA Hảo Việt", " Nhập đại lý tìm kiếm ...","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang","An Giang")
		.hethongeach__content
			.container_1100
				h2 PEGA Hảo Việt
				.contact
					.contact__inner
						.depart.owl-carousel.owl-theme
							.item
								img(src="https://www.pega.com.vn/images/slide/showroom.img.01.jpg" alt="")
							.item
								img(src="https://www.pega.com.vn/images/slide/showroom.img.01.jpg" alt="")
							.item
								img(src="https://www.pega.com.vn/images/slide/showroom.img.01.jpg" alt="")
						.contact--infor
							p
								b Địa chỉ cửa hàng
							p Số 520 Lê Thanh Nghị, Hải Dương
							p
								b Điện thoại:
							p 0220 661 8282
							p
								b Người quản lý:
							p Anh Tuấn - 0976 547 866
						.clear-fix
				.map
					h3 BẢN ĐỒ CỬA HÀNG (cuộn chuột để zoom to)