extends _layouts/layout
block content
	section#home
		section.slide__home
			.owl-carousel.owl-theme
				.item
					a(href="#"): img(src="images/k_slide2a.jpg" alt="slide2")
				.item
					a(href="#"): img(src="images/k_slide5a.jpg" alt="slide5")
				.item
					a(href="#"): img(src="images/k_slide6a.jpg" alt="slide6")
				.item
					a(href="#"): img(src="images/k_slide2a.jpg" alt="slide2")
				.item
					a(href="#"): img(src="images/k_slide5a.jpg" alt="slide5")
				.item
					a(href="#"): img(src="images/k_slide6a.jpg" alt="slide6")
		section.gioithieu__home
			.container
				+title("CHÚNG TÔI LÀ AI")
				.whoarewe.fleft
					a(href="gioithieu.html"): img(src="images/k_slide5a.jpg" alt="k_gioithieu")
				.text-content__home.fleft
					a(href="gioithieu.html")
						h5 3FBike là công ty chuyên cung cấp các giải pháp về xe điện theo yêu cầu. Với mục tiêu giúp đỡ các doanh nghiệp gia tăng doanh số bán hàng cùng với sự chuyên nghiệp hóa và hiện đại hóa.
						h3 Bà 3F Group
						h5 Tổng giám đốc hãng xe điện 3FBike
				.clearfix
		section.sanpham__home
			.container
				+title("CHÚNG TÔI LÀM GÌ")
				.centent-sanpham
					.row
						.col-3
							+sanpham('images/XeDapDen.JPG', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
						.col-3
							+sanpham('images/XeDapDo.jpg', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
						.col-3
							+sanpham('images/XeDapTrang.jpg', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
						.col-3
							+sanpham('images/XeDapDen.JPG', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
						.col-3
							+sanpham('images/XeDapDo.jpg', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
						.col-3
							+sanpham('images/XeDapTrang.jpg', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
						.col-3
							+sanpham('images/XeDapDen.JPG', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
						.col-3
							+sanpham('images/XeDapDo.jpg', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
						.col-3
							+sanpham('images/XeDapTrang.jpg', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
						.col-3
							+sanpham('images/XeDapDen.JPG', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
						.col-3
							+sanpham('images/XeDapDo.jpg', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
						.col-3
							+sanpham('images/XeDapTrang.jpg', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')