extends _layouts/layout
block content
	section#lienhe
		.wrap-lienhe
			.container
				.row
					.col-6.fleft
						.address__lienhe
							.text__address
								h4 CÔNG TY TNHH MTV XE ĐIỆN ALPHA VIỆT NHẬT
								p
									span: i.fas.fa-home
									span 14 xóm Đình - Minh Khai Bắc Từ Liêm, Hà Nội
								p
									span: i.fas.fa-phone
									span 01642582266
									span.name-web AlphaBike.com - xedienalpha.com
								h4 NHÀ MÁY LẮP RÁP XE ĐIỆN ALPHABIKE
								p
									span: i.fas.fa-home
									span 14 xóm Đình - Minh Khai Bắc Từ Liêm, Hà Nội
								p
									span: i.fas.fa-phone
									span Hotline: 01642582266
								p
									span: i.fas.fa-phone
									span Hỗ trợ kinh doanh: 01642582266
								p
									span: i.fas.fa-phone
									span Kỹ thuật và Bảo hành: 01642582266
						.contact__lienhe
							form(action="" method="get" id="form-lienhe")
								.name__lienhe
									label(for="hoten")
										span: i.fas.fa-user
										span Họ và tên:
										br
									input(type="text" name="hoten" id="hoten" required)
								.phone-email
									.sodienthoai__lienhe
										label(for="sodienthoai")
											span: i.fas.fa-phone
											span Số điện thoại:
											br
										input(type="text" name="sdthoai" id="sodienthoai" required)
									.email__lienhe
										label(for="diachiemail")
											span: i.fas.fa-envelope
											span Địa chỉ email:
											br
										input(type="text" name="diachiemail" id="diachiemail" required)
									.clearfix
								.yeucausanpham__lienhe
									label(for="yeucausanpham") Yêu cầu sản phẩm:
									textarea
								.guiyeucau__lienhe
									button(type="submit" id="submit-lienhe") Gửi Yêu Cầu
					.col-6.fleft
						.map__lienhe
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.5405596818023!2d105.73913581450519!3d21.051061685986333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345537dfcfbb39%3A0x802efdac1eabc81f!2sCty+CP+3F+Group!5e0!3m2!1svi!2s!4v1534324873384"></iframe>