extends _layouts/layout
block content
  section.products
    +bg-title( "sanpham.html", "Sản Phẩm","images/t_banner-products.png", "background title")
    .products__inner
      .container
        .products__right
          -for(i=0; i<10; i++)
            .col-4
              +sanpham('images/XeMayTrang.png', 'chitietsanpham.html', 'ALPHABIKE Mumar 133GS','80km/1 lần sạc','13.990.000')
          .clearfix
        //- end projects__right
        .products__left
          form(action="http://www.google.com" method="").products__filter
            .products__filter__icon
              i.fas.fa-filter
              span LỌC XE
            .products__filter__inner
              h3 chọn loại xe
              input(type="checkbox" name="loaixe" id="xedapdien" value="Xe đạp điện" checked)
              label(for="xedapdien")
                span: i.fas.fa-check
                |Xe đạp điện
              br
              input(type="checkbox" name="loaixe" id="xemaydien" value="Xe máy điện")
              label(for="xemaydien")
                span: i.fas.fa-check
                |Xe máy điện
              br
              input(type="checkbox" name="loaixe" id="otodien" value="Xe điện, Ô tô điện")
              label(for="otodien")
                span: i.fas.fa-check
                |Xe điện, Ô tô điện
              br
              input(type="checkbox" name="loaixe" id="phukienxedien" value="Phụ kiện xe điện")
              label(for="phukienxedien")
                span: i.fas.fa-check
                |Phụ kiện xe điện
            //- chon loai xe
            .products__filter__inner.products__filter__inner--modify
              h3 chọn dòng xe
              input(type="checkbox" name="dongxe" id="ALPHA18a" value="ALPHA 18A")
              label(for="ALPHA18a")
                span: i.fas.fa-check
                |ALPHA 18A
              br
              input(type="checkbox" name="dongxe" id="ALPHAsamurai" value="ALPHA Samurai")
              label(for="ALPHAsamurai") 
                span: i.fas.fa-check
                |ALPHA Samurai
              br
              input(type="checkbox" name="dongxe" id="ALPHApoke" value="ALPHA Poke")
              label(for="ALPHApoke") 
                span: i.fas.fa-check
                |ALPHA Poke
              br
              input(type="checkbox" name="dongxe" id="ALPHAtron" value="ALPHA TRON")
              label(for="ALPHAtron") 
                span: i.fas.fa-check
                |ALPHA TRON
              br
              input(type="checkbox" name="dongxe" id="ALPHAzipp" value="ALPHA ZIPP")
              label(for="ALPHAzipp") 
                span: i.fas.fa-check
                |ALPHA ZIPP
              br
              input(type="checkbox" name="dongxe" id="ALPHAsamurai2" value="ALPHA Samurai 2")
              label(for="ALPHAsamurai2")
                span: i.fas.fa-check 
                |ALPHA Samurai 2
              br
              input(type="checkbox" name="dongxe" id="ALPHAmikumax" value="ALPHA Miku Max")
              label(for="ALPHAmikumax") 
                span: i.fas.fa-check
                |ALPHA Miku Max
              br
              input(type="checkbox" name="dongxe" id="ALPHAemmy" value="ALPHA Emmy")
              label(for="ALPHAemmy") 
                span: i.fas.fa-check
                |ALPHA Emmy
              br
              input(type="checkbox" name="dongxe" id="ALPHAluxury" value="ALPHA Luxury")
              label(for="ALPHAluxury") 
                span: i.fas.fa-check
                |ALPHA Luxury
              br
              input(type="checkbox" name="dongxe" id="ALPHAmumar" value="ALPHA Mumar")
              label(for="ALPHAmumar") 
                span: i.fas.fa-check
                |ALPHA Mumar
              br
              input(type="checkbox" name="dongxe" id="aimajeek" value="AIMA Jeek")
              label(for="aimajeek") 
                span: i.fas.fa-check
                |AIMA Jeek
              br
              input(type="checkbox" name="dongxe" id="yadeaz3" value="YADEA Z3")
              label(for="yadeaz3") 
                span: i.fas.fa-check
                |YADEA Z3
              br
              input(type="checkbox" name="dongxe" id="yadeaxman" value="YADEA XMAN")
              label(for="yadeaxman")
                span: i.fas.fa-check
                |YADEA XMAN
              br
              input(type="checkbox" name="dongxe" id="ALPHAromas" value="ALPHA RomaS")
              label(for="ALPHAromas") 
                span: i.fas.fa-check
                |ALPHA RomaS
              br
              input(type="checkbox" name="dongxe" id="yadeaumi" value="YADEA UMI")
              label(for="yadeaumi") 
                span: i.fas.fa-check
                |YADEA UMI
              br
              input(type="checkbox" name="dongxe" id="ALPHAmumar133gsi" value="ALPHA Mumar 133Gsi")
              label(for="ALPHAmumar133gsi") 
                span: i.fas.fa-check
                |ALPHA Mumar 133Gsi
              br
              input(type="checkbox" name="dongxe" id="ALPHAaimamineplus" value="DJ Aima Mine Plus")
              label(for="ALPHAaimamineplus") 
                span: i.fas.fa-check
                |DJ Aima Mine Plus
              br
              input(type="checkbox" name="dongxe" id="ALPHAyadeaxman2018" value="ALPHA Yadea Xman 2018")
              label(for="ALPHAyadeaxman2018") 
                span: i.fas.fa-check
                |ALPHA Yadea Xman 2018
              br
            //- chon dong xe
            .products__filter__inner
              h3 chọn mức giá
              input(type="checkbox" name="mucgia" id="duoi8tr" value="Dưới 8 triệu")
              label(for="duoi8tr")
                span: i.fas.fa-check
                |Dưới 8 triệu
              br
              input(type="checkbox" name="mucgia" id="8tr-10tr" value="Từ 8 tr- 10 triệu")
              label(for="8tr-10tr") 
                span: i.fas.fa-check
                |Từ 8 tr- 10 triệu
              br
              input(type="checkbox" name="mucgia" id="10tr-12tr" value="Từ 10 tr- 12 triệu")
              label(for="10tr-12tr") 
                span: i.fas.fa-check
                |Từ 10 tr- 12 triệu
              br
              input(type="checkbox" name="mucgia" id="12tr-15tr" value="Từ 12 tr- 15 triệu")
              label(for="12tr-15tr") 
                span: i.fas.fa-check
                |Từ 12 tr- 15 triệu
              br
              input(type="checkbox" name="mucgia" id="tren15tr" value="Trên 15 triệu")
              label(for="tren15tr") 
                span: i.fas.fa-check
                |Trên 15 triệu
            //- chon muc gia
            .products__filter__inner
              h3 hãng
              input(type="checkbox" name="hang" id="ALPHAbike" value="ALPHA Bike")
              label(for="ALPHAbike") 
                span: i.fas.fa-check
                |ALPHA Bike
              br
              input(type="checkbox" name="hang" id="yadea" value="Yadea")
              label(for="yadea") 
                span: i.fas.fa-check
                |Yadea
              br
              input(type="checkbox" name="hang" id="aima" value="Aima")
              label(for="aima") 
                span: i.fas.fa-check
                |Aima
            //- hang
            .products__filter__inner
              h3 chủng loại
              input(type="checkbox" name="chungloai" id="hangtrongnuoc" value="Hàng lắp ráp trong nước")
              label(for="hangtrongnuoc") 
                span: i.fas.fa-check
                |Hàng lắp ráp trong nước
              br
              input(type="checkbox" name="chungloai" id="nhapkhau" value="Hàng nhập khẩu nguyên chiếc")
              label(for="nhapkhau") 
                span: i.fas.fa-check
                |Hàng nhập khẩu nguyên chiếc
            //- chung loai
            .products__filter__inner
              h3 năm sản xuất
              input(type="checkbox" name="namsx" id="nam2017" value="Năm 2017")
              label(for="nam2017") 
                span: i.fas.fa-check
                |Năm 2017
              br
              input(type="checkbox" name="namsx" id="nam2018" value="Năm 2018")
              label(for="nam2018") 
                span: i.fas.fa-check
                |Năm 2018
            //- nam san xuat
            .products__filter__inner
              h3 loại phanh
              input(type="checkbox" name="loaiphanh" id="phanhco" value="Phanh Cơ")
              label(for="phanhco") 
                span: i.fas.fa-check
                |Phanh Cơ
              br
              input(type="checkbox" name="loaiphanh" id="phanhdia" value="Phanh Đĩa")
              label(for="phanhdia") 
                span: i.fas.fa-check
                |Phanh Đĩa
            //- loai phanh
            .products__filter__inner
              h3 công suất
              input(type="checkbox" name="congsuat" id="48v" value="48V")
              label(for="48v") 
                span: i.fas.fa-check
                |48V
              br
              input(type="checkbox" name="congsuat" id="60v" value="60V")
              label(for="60v") 
                span: i.fas.fa-check
                |60V
            //- cong suat
            .products__filter__inner
              h3 đối tượng sử dụng
              input(type="checkbox" name="doituong" id="hs-sv" value="Học sinh - sinh viên")
              label(for="hs-sv") 
                span: i.fas.fa-check
                |Học sinh - sinh viên
              br
              input(type="checkbox" name="doituong" id="dancongso" value="Dân công sở")
              label(for="dancongso") 
                span: i.fas.fa-check
                |Dân công sở
            //- loai phanh
            input(type="submit" value="Tìm Kiếm" title="Tìm Kiếm")
          //- end products__filter
          .news
            .heading
              span tin xem nhiều
              strong tháng 9
            ul.news__list
              -for(i=0; i<10; i++)
                li.news__list__item
                  h3: a(href="gioithieu.html" title="Hướng dẫn cách nhận biết xe đạp điện giá rẻ chất lượng thấp")
                    span 1
                    |. Hướng dẫn cách nhận biết xe đạp điện giá rẻ chất lượng thấp
                  .news__item__img
                    a(href="gioithieu.html" title="Hướng dẫn cách nhận biết xe đạp điện giá rẻ chất lượng thấp"): img(src="images/t_thumbnail.jpg" alt="Hướng dẫn cách nhận biết xe đạp điện giá rẻ chất lượng thấp")
                  .news__item__infor
                    p Những ưu điểm không thể phủ nhận đã giúp <a href="sanpham.html">xe đạp điện</a> trở thành phương tiện giao thông được khá nhiều người yêu thích lựa chọn chính vì vậy mà thị 
                  .clearfix
              //- end news__list__item
        //- end products__left
        .clearfix
