extends _layouts/layout
block content
  section#tintucchitiet
    +bg-title("#","Về DKBike","images/t_bg__gioithieu.png","gioithieu dk bike")
    .tintucchitiet
      .container
        .content__gioithieu.fleft
          article
            h2 Cách đi xe đạp điện an toàn
            .like-share
              a(href="#").like__gioithieu
                span
                  i.far.fa-thumbs-up
                  span Thích 
                  span 69
              a(href="#").share Chia sẻ
              a(href="#").gg-plus: i.fab.fa-google-plus-g
            p.capnhat__gioithieu
              strong.capnhat__gioithieu--strong
                span Cập nhật:
                span 02/09/2069
            .tintuc__content
              h3 Ngoài việc bắt buộc đội mũ bảo hiểm và vận tốc xe tối đa là 25km một giờ theo quy định, người sử dụng cần nắm rõ một số nguyên tắc kiểm tra cũng như cách vận hành để lưu thông an toàn.
              p Xe đạp điện ngày nay đã trở thành phương tiện phổ biến, nhất là với giới học sinh bởi sự tiện lợi, chạy nhanh hơn xe đạp mà lại không cần đăng ký, thiết kế gọn nhẹ và bắt mắt… Nhưng xe đạp điện cũng đã gây không ít lo lắng cho người đi đường khi nhiều cô cậu học trò cưỡi xe đầu trần phóng vun vút 40-50km một giờ không hề thua kém xe máy, đua nhóm lạng lách gây nên không ít va quẹt và cả tai nạn. 
              p Do vậy người sử dụng xe đạp điện cần nắm rõ những quy tắc kiểm tra, cách vận hành dưới đây để làm chủ một chiếc xe đạp điện cũng như giữ sự an toàn cho chính bản thân mỗi khi tham gia giao thông.
              p: img(src="images/k_tintuc.jpeg" alt="dkbike")
              h4 Đi xe với vận tốc tối đa 25km một giờ
              p Theo thiết kế, dòng xe này chỉ chạy vận tốc tối đa 25 km một giờ nhưng người dùng lại chạy với vận tốc có lúc lên tới 40km thậm chí 50 km một giờ. Ông Vũ Tiến Dũng, chuyên gia kỹ thuật của hãng xe đạp điện HKbike cho biết xe đạp điện là loại xe đạp có gắn thêm động cơ, vì thế các thông số về thiết kế khung xe, bánh xe không phù hợp để đi với tốc độ cao.
              p Đơn cử như dòng xe Zinger Extra của chúng tôi có vận tốc tối đa chỉ 25km một giờ. Chúng tôi cũng tư vấn cho khách hàng không nên can thiệp vào bộ điều tốc để kích vận tốc của xe lên. Làm như thế không những gây nguy hiểm khi sử dụng xe và còn phá vỡ những thông số chuẩn của nhà sản xuất", ông Dũng chia sẻ.
              h4 Kiểm tra kỹ thuật trước khi sử dụng
              p Đây là việc làm đơn giản, người dùng chỉ cần bỏ ra khoảng 5-10 phút trước khi mang chiếc xe đạp điện ra ngoài sử dụng. Đầu tiên là kiểm tra hai lốp trước và sau, không nên bơm quá căng cũng như để lốp non hơi. Tiếp theo là xem hệ thống phanh, tra dầu nếu cảm thấy bóp phanh bị cứng hoặc rít. Nếu xuất hiện tiếng kêu thì cần tra dầu ngay, tốt nhất là mỗi tháng một lần.
              p Ngoài ra cũng nên bôi mỡ phần trục trước, trục giữa 6 tháng 1 lần để đảm bảo an toàn khi tham gia giao thông. Dựng chân chống giữa và nhấn ga xem động cơ có hoạt động trơn tru hay có bị kẹt không. Sau đó xem xét dây nối giữa bình pin và động cơ, nếu bộ dây này có vấn đề (bị đứt hoặc nghẽn mạch), xe sẽ không thể kích hoạt được chức năng chạy điện.
              h4 Bảo quản pin và ắc quy
              p Nếu xe chạy ắc quy, cần chú ý kiểm tra bình ắc quy định kỳ hàng tuần để tránh xảy ra những sự cố cháy nổ đáng tiếc. Khi mới mua một chiếc xe điện sử dụng ắc quy nên sạc 10 tiếng. Sau lần đầu sạc đầy, các lần sau sạc không quá 8 tiếng.
              p Còn nếu xe đạp điện sử dụng loại pin công nghệ cao như Lithium, người dùng chỉ cần quan tâm tới việc pin sạc đầy mỗi khi ra khỏi nhà bởi pin Lithium có khả năng tự ngắt điện khi đầy và công nghệ chế tác khá bền chắc, chống cháy nổ do phôi pin làm từ thép nguyên khối và được hàn chặt bằng tia laser.
              p Nên sạc điện cho ắc quy hoặc pin hằng ngày, hoặc ít nhất một lần trong tuần, kể cả khi không sử dụng trong thời gian dài. Sử dụng nguồn điện ổn định khi sạc, không dùng điện từ nguồn máy phát.
              h4 Sạc điện an toàn
              p Có hai cách sạc điện cho xe là tháo bình pin ra khỏi xe hoặc sạc điện trực tiếp khi bình pin ở nguyên vị trí trên xe. Trong khi nạp điện, cần đặt các bộ phận nạp điện ở nơi an tòan, tránh xa tầm tay của trẻ em.
              p: img(src="images/k_tintuc_fix.jpeg" alt="dkbike")
              p Chỉ sử dụng bộ phận nạp điện có cùng công suất với lọai xe đang sử dụng, tương thích với công suất của bình ắc quy hay dễ hiểu hơn là bộ sạc đi kèm theo xe với sự chỉ định của nhà sản xuất. Tuyệt đối tránh không cho nước hay bất kỳ một dung dịch nào thấm vào trong bộ phận nạp điện.
              .content_tintuc_fix
                h4 Những lưu ý khi đi xe đạp điện:
                ul
                  li - Trước khi vận hành cần kiểm tra các thiết bị trên xe về tính năng hoạt động và các thiết bị đi kèm còn đang hoạt động tốt.
                  li - Trước khi vận hành cần kiểm tra các thiết bị trên xe về tính năng hoạt động và các thiết bị đi kèm còn đang hoạt động tốt.
                  li - Kiểm tra trọng tải xe, không chở quá trọng tải xe cho phép.- Gạt chân chống phụ (nếu có)
                  li - Sau khi ngồi an toàn trên xe rồi mới tiến hành bật khóa điện.
                  li - Trong quá trình lái xe bắt đầu ga nhẹ để xe có thể tăng tốc một cách dần dần. tránh tăng ga đột ngột.
                  li - Không nên ga giật, lạng lách, phanh gấp trong quá trình xe chạy.
                  li - Gặp chướng ngại vật dùng hai phanh phanh từ từ, trong quá trình phanh nên nhả hết tay ga.
                  li - Kết thúc quá trình lái xe bóp phanh, nhả hết tay ga cho xe dừng hẳn.
                  li - Nếu có chở người phải quan sát về an toàn đằng trước, đằng sau rồi mới cho người ngồi sau xuống xe.
                  li - Tắt khóa điện trước khi xuống xe để tránh xe vận hành ngoài ý muốn.
            //- end tintuc__content
            .content__gioithieu__video
              <iframe width="560" height="315" src="https://www.youtube.com/embed/gZC2F37qcJ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            .content__gioithieu__more
              ul
                li
                  |Tìm kiếm gần 1000 showroom, Đại lý AlphaBike chính hãng 
                  a(href="#" target="_blank") Tại đây
                li
                  |Fanpage: 
                  a(href="#" target="_blank") https://www.facebook.com/AlphaBike.vn
                  |- Website:
                  a(href="#" target="_blank") https://dkbike.vn | http://XeDienALPHABIKE.Com
                li
                  |Hỗ trợ khách hàng 
                  a(href="#" target="_blank") hotro@alphabike.vn
                  |- Hotline 
                  b: a(href="#") 0901580209
            .content__comment
            .news-newer
              p.heading Tin mới hơn
              -for(i=0;i<10;i++)
                .news-newer__item
                  a(href="#") Hãng xe điện AlphaBike hướng dẫn cách lái xe an toàn
                  span.news-newer__item__date (05/11/2018)
        section.tintuc__gioithieu.fright
          +news()
        .clearfix