extends _layouts/layout
block content
	section#tin__tuc.tin__tuc
		+bg-title( "tintuc.html", "Tin khuyến mãi","https://dkbike.vn/Images/Banner/01-442bfc.png", "background title")
		.tin__tuc--content
			.container
				.tin__tuc--inner
					.tintuc__right.fright
						+news()
					.tin__tuc--left.fleft
						.left__inner
							+tintuc("tintucchitiet.html","images/k_tintuc.jpeg" ,"hinh anh", "CÁCH ĐI XE ĐIỆN AN TOÀN", "05/11/2018","Ngoài việc bắt buộc đội mũ bảo hiểm và vận tốc xe tối đa là 25km một giờ theo quy định, người sử dụng cần nắm rõ một số nguyên tắc kiểm tra cũng như cách vận hành để lưu thông an toàn..." )
							+tintuc("tintucchitiet.html","images/k_tintuc.jpeg" ,"hinh anh", "CÁCH ĐI XE ĐIỆN AN TOÀN", "05/11/2018","Ngoài việc bắt buộc đội mũ bảo hiểm và vận tốc xe tối đa là 25km một giờ theo quy định, người sử dụng cần nắm rõ một số nguyên tắc kiểm tra cũng như cách vận hành để lưu thông an toàn..." )
							+tintuc("tintucchitiet.html","images/k_tintuc.jpeg" ,"hinh anh", "CÁCH ĐI XE ĐIỆN AN TOÀN", "05/11/2018","Ngoài việc bắt buộc đội mũ bảo hiểm và vận tốc xe tối đa là 25km một giờ theo quy định, người sử dụng cần nắm rõ một số nguyên tắc kiểm tra cũng như cách vận hành để lưu thông an toàn..." )
							+tintuc("tintucchitiet.html","images/k_tintuc.jpeg" ,"hinh anh", "CÁCH ĐI XE ĐIỆN AN TOÀN", "05/11/2018","Ngoài việc bắt buộc đội mũ bảo hiểm và vận tốc xe tối đa là 25km một giờ theo quy định, người sử dụng cần nắm rõ một số nguyên tắc kiểm tra cũng như cách vận hành để lưu thông an toàn..." )
							+tintuc("tintucchitiet.html","images/k_tintuc.jpeg" ,"hinh anh", "CÁCH ĐI XE ĐIỆN AN TOÀN", "05/11/2018","Ngoài việc bắt buộc đội mũ bảo hiểm và vận tốc xe tối đa là 25km một giờ theo quy định, người sử dụng cần nắm rõ một số nguyên tắc kiểm tra cũng như cách vận hành để lưu thông an toàn..." )
							+tintuc("tintucchitiet.html","images/k_tintuc.jpeg" ,"hinh anh", "CÁCH ĐI XE ĐIỆN AN TOÀN", "05/11/2018","Ngoài việc bắt buộc đội mũ bảo hiểm và vận tốc xe tối đa là 25km một giờ theo quy định, người sử dụng cần nắm rõ một số nguyên tắc kiểm tra cũng như cách vận hành để lưu thông an toàn..." )
							ul.pagination
								li
									a(href="") 
										i.fa.fa-long-arrow-alt-left
										span Trước
								li.active
									a(href="") 1
								li
									a(href="") 2
								li
									a(href="") 3
								li
									a(href="") ...
								li
									a(href="") 8
								li
									a(href="")
										span Tiếp theo
										i.fa.fa-arrow-right
					.clear-fix