footer#footer
	//#footer
	.wrap-footer
		.bg-camket-baohanh
			.container_1170
				.camket-baohanh
					ul
						li
							span: img(src="images/k_A_logo.png" alt="dk")
							a(href="#"): span CAM KẾT CHÍNH HÃNG 100%
						li
							span: img(src="images/k_transport.png" alt="transport")
							a(href="#"): span CAM KẾT CHÍNH HÃNG 100%
						li
							span: img(src="images/k_fix.png" alt="fix")
							a(href="#"): span CAM KẾT CHÍNH HÃNG 100%
						li
							span: a(href="#"): i.fab.fa-facebook-f
							span: a(href="#"): i.fab.fa-youtube
		.container
			.sanpham__footer
				.row
					.col-2
						h3 SẢN PHẨM
						ul
							li
								a(href="#") Chính sách bảo hành
							li
								a(href="#") Chính sách bảo mật
							li
								a(href="#") Cam kết chất lượng tốt nhất
							li
								a(href="#") Gian hàng đảm bảo
					.col-2
						h3 DỊCH VỤ HẬU MÃI
						ul
							li
								a(href="#") Chính sách bảo hành
							li
								a(href="#") Chính sách bảo mật
							li
								a(href="#") Cam kết chất lượng tốt nhất
							li
								a(href="#") Gian hàng đảm bảo
					.col-2
						h3 HƯỚNG DẪN
						ul
							li
								a(href="#") Những câu hỏi thường gặp
							li
								a(href="#") Hướng dẫn mua hàng
							li
								a(href="#") Hướng dẫn thanh toán
							li
								a(href="#") Hướng dẫn sử dụng và Quy định
					.col-2
						h3 HOTLINE
						ul
							li
								span Kinh doanh:
								a(href="#"): span.telephone  01642582266
							li
								span Hỗ trợ kĩ thuật:
								a(href="#"): span.telephone  01642582266
							li
								span Dịch vụ cứu hộ:
								a(href="#"): span.telephone  01642582266
							li
								span Liên hệ làm đại lý:
								a(href="#"): span.telephone  01642582266
					.col-2
						h3 ALPHABIKE VIỆT NAM
						ul
							li
								a(href="#") Thư cảm ơn
							li
								a(href="#") Hợp tác kinh doanh cùng ALPHABike
							li
								a(href="#") Tuyển dụng
							li
								a(href="#") Giới thiệu ALPHABike
		.banquyen
			p ©2018 Bản quyền thuộc về ALPHABike