header#header
	//#header
	.wrap-header.container_1920
		.logo-header
			a(href="home.html"): img(src="images/k_LoGoXeDien.png" alt="logo")
		.contact-menu
			.contact
				ul
					li.bor-right.content__contact HOTLINE: 01642582266
					li.bor-right.content__contact
						a(href="tintuc.html") Tin khuyến mại
					li.mar-right.content__contact
						a(href="hethongphanphoi.html") Hệ thống đại lý
					li
						a(href="#"): i.fab.fa-facebook-f
					li
						a(href="#"): i.fab.fa-youtube
			.menu
				nav
					ul
						li
							a(href="home.html") Trang chủ
						li
							a(href="gioithieu.html") Giới thiệu
						li
							a(href="sanpham.html") Sản phẩm
						li
							a(href="hethongphanphoi.html") Hệ thống phân phối
						li
							a(href="tintuc.html") Tin tức
						li
							a(href="lienhe.html") Liên hệ
			.menu-res
				i.fas.fa-bars
		.clearfix