// Mixins
include ../../components/eachstore/eachstore.pug
include ../../components/storedetail/storedetail.pug
include ../../components/store/store.pug
include ../../components/search/search.pug
include ../../components/tintuc/tintuc.pug
include ../../components/bg-title/bg-title.pug
include ../../components/sanpham/sanpham.pug
include ../../components/title/title.pug
include ../../components/news/news.pug