.hethong__search {
    font-size: 15px;
    &--inner {
        width: 50%;
        margin: auto;
    }
    .select {
        &__top {
            height: 35px;
            line-height: 35px;
            position: relative;
            color: #585b5f;
            font-style: italic;
            border: 1px solid #ccc;
            border-radius: 4px 0px 0px 4px;
            width: 75%;
            float: left;
            >span {
                display: block;
                cursor: pointer;
            }
            &--wrap {
                position: absolute;
                top: 100%;
                z-index: 9;
                left: 0;
                width: 100%;
                border: 1px solid #aaa;
                border-radius: 4px;
                border-top: none;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                display: none;
            }
            &--text {
                padding: 4px;
                background: #fff;
                margin-top: 1px;
                input {
                    width: 100%;
                    padding: 5px;
                    background-color: white;
                    font-style: italic;
                    border-radius: 4px;
                    border: 1px solid #aaa;
                }
            }
            &--result {
                background-color: white;
                height: 200px;
                overflow-y: scroll;
                li {
                    padding: 0 6px;
                    font-style: initial;
                    cursor: pointer;
                    &:first-child {
                        background: #ddd;
                    }
                    &:hover {
                        color: #fff;
                        background: #009ad3;
                    }
                }
            }
        }
    }
    button {
        width: 25%;
        float: left;
        color: #fff;
        background-color: #00ad55;
        height: 35px;
        border-bottom-left-radius: 1px;
        border-top-left-radius: 1px;
        outline: transparent;
        border-radius: 0 4px 4px 0px;
        border: none;
    }
    .show {
        display: block;
        transition: 0.5s;
        text-transform: uppercase;
    }
    .chosen-container-single .chosen-single {
        border: unset;
        background: unset;
        box-shadow: unset;
    }
    .chosen-container-single .chosen-drop {
        margin-top: 4px;
    }
    .chosen-container .chosen-results {
        font-style: initial;
    }
    .result-selected {
        background: #dddddd;
    }
    .chosen-container .chosen-results {
        padding: 0;
    }
}