.products__item{
  & > a{
    display: block;
    text-align: center;
    img{
      height: 194px;
    }
  }
  h3{
    a{
      display: block;
      font-size: 18px;
      font-weight: bold;
      color: #272727;
      margin: 20px 0 10px;
      padding: 0 0 8px;
      border-bottom: 2px solid #c4c4c4;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      height: 22px;
      font-weight: 600;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  p{
    line-height: 15px;
    margin-bottom: 8px;
    margin-top: 0;
    color: #808080;
    font-size: 15px;
  }
  .item__price{
    margin-bottom:15px;
  }
  span{
    color: #000;
    font-weight: 400;
  }
  .item__view{
    display: block;
    height: 40px;
    color: #fff;
    font-size: 18px;
    background-color: #808080;
    line-height: 40px;
    text-align: center;
  }
  &:hover{
    h3 a{
      color: #3e9e54;
    }
    .item__view{
      background-color: #3e9e54;
    }
  }
}
