// Start: sanpham

mixin sanpham(item__img,item__href,item_title,item__desc,item__price)
  //- block csslibs
  //-   link(rel="stylesheet" type="text/css" href="libs/")

  //- block scriptlibs
  //-   script(src="libs/owlCarousel/owl.carousel.min.js")
  //- Type:
  //-   title {string} - заголовок
  //-   mods {string}  - стилевые модификаторы
  //- Use:
        +sanpham()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?
  .products__item
    a(href=item__href,title=item_title)
      img(src=item__img,alt=item_title)
    h3: a(href=item__href,title=item_title)= item_title
    p.item__desc
      |Cự li di chuyển: 
      span=item__desc
    p.item__price
      |Giá chỉ từ: 
      span=item__price
        sup đ
    a(href=item__href,title="Xem chi tiết").item__view XEM THÊM 
// End: sanpham
