.wrap-footer{
	margin-top: 50px;
}
.bg-camket-baohanh{
	background-color: #f0f0f0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #e0e0e0;
    //text-align: center;
}
.camket-baohanh{
	text-align: center;
	li {
	    display: inline-block;
	    line-height: 44px;
	    border-left: 1px solid #ccc;
	    padding-left: 35px;
	    padding-right: 35px;
	    margin: 18px 0;
	    span{
	    	color: #3e9e54;
		    font-size: 15px;
		    font-weight: bold;
		    display: inline-block;
		    img{
		    	height: 45px;
		    	padding-right: 5px;
		    }
	    }
	}
	i.fab.fa-facebook-f {
	    padding: 0 20px;
	    font-size: 15px;
	    line-height: 46px;
		}
	i.fab.fa-youtube {
	    padding: 0 16px;
	    line-height: 46px;
	    font-size: 15px;
	}
}
.sanpham__footer{
	padding: 20px 0 30px;
	.col-2{
		h3{
			color: #404040;
		    font-weight: 700;
		    font-size: 15px;
		    line-height: 30px;
		    margin: 0;
		    margin-bottom: 5px;
		}
		li{
			color: #808080;
		}
		a{
			color: #808080;
			margin-top: 5px;
			line-height: 21px;
			&:hover{
				color: #3e9e54;
			}
		}
		.telephone{
			color: #3e9e54;
			font-weight: 700;
		}
	}
}
.banquyen{
	text-align: center;
	background: #f0f0f0;
	border-top: 1px solid #e0e0e0;
	p{
		line-height: 50px;
		margin: 0;
		color: #404040;
	}
}