.logo-header{
	width: 30%;
    padding-left: 30px;
    float: left;
	a{
		display: inline-block;
	}
	img {
	    height: 50px;
    	margin-top: 14px;
	}
}
.bor-right{ border-right: 1px solid #ccc;}
.contact-menu{
	width: 70%;
	float: left;
	padding-left: 15px;
}
.contact{
	text-align: right;
	ul{
		padding-right: 40px;
    	border-bottom: 1px solid #e3e3e3;
		li{
			display: inline-block;
			color: #808080;
			font-size: 12px;
			cursor: pointer;
			height: 20px;
		    line-height: 20px;
		    margin: 6px 0;
			&.mar-right{
				margin-right: 25px;
			}
			&:hover{
				color: #3e9e54;
			}
		}
	}
}
.content__contact{
	padding: 0 10px;
}
i.fab.fa-facebook-f {
    background: #3B5998;
    color: #fff;
    padding: 4px 7px;
    margin-right: 7px;
}
i.fab.fa-youtube {
    background: #BB0000;
    color: #fff;
    padding: 4px;
}
.menu{
	text-align: right;
	// margin-bottom: 29px;
	ul{
		line-height: 44px;
		padding-right: 40px;
		li{
			display: inline-block;
			line-height: 38px;
		    margin-left: 53px;
		    font-size: 14px;
		    color: #5e5e5e;
		    font-weight: bold;
		    cursor: pointer;
		    &:hover{
		    	color: #3e9e54;
		    }
		}
	}
}