// slider
.slide__home {
	position: relative;
	.owl-dots {
	    position: absolute;
	    bottom: 5px;
	    left: 50%;
	    transform: translateX(-50%);
	    background: rgba(0, 0, 0, 0.16) none repeat scroll 0 0;
	    border-radius: 20px;
	    padding: 0 5px;
	}
	.owl-nav {
	    position: absolute;
	    top: 39%;
	    height: 0px;
	    width: 100%;
	    margin: 0;
	    .owl-prev{
	    	color: transparent;
	    	span{
	    		color: transparent;
	    	}
	    }
	    .owl-next{
	    	color: transparent;
	    	span{
	    		color: transparent;
	    	}
	    }
	}
	.owl-theme .owl-dots .owl-dot span {
	    margin: 2px;
	}
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	    background: #3e9e54;
	}
	.owl-theme .owl-dots .owl-dot span {
	    background: #fff;
	}
	.owl-theme .owl-dots .owl-dot{
		margin-top: 2px;
	}
}
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 0;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
}
.owl-prev span:before {
    content: "";
    position: absolute;
    border-left: 2px solid #13101036;
    border-bottom: 2px solid #13101036;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    left: 12px;
    top: 21px;
}
.owl-next span:before{
	content: "";
    position: absolute;
    border-right: 2px solid #13101036;
    border-bottom: 2px solid #13101036;
    height: 30px;
    width: 30px;
    transform: rotate(-45deg);
    right: 12px;
    top: 21px;
}
.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next {
    margin: 0;
    height: 73px;
    margin: 0 5px;
    width: 37px;
    background: #4e48482e;
    &:hover{
    	background: #4e48482e;
    }
}

// WHO ARE WE
.gioithieu__home {
    padding: 20px 0 40px;
    // background: #f0f0f0;
}
.whoarewe{
	width: 50%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
	img{
		max-width: 100%;
	}
	a{
		display: block;
		padding-top: 50px;
	}
}
.text-content__home{
	width: 50%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
	padding-top: 100px;
	h5 {
	    font-size: 20px;
	    font-weight: 400;
	    margin: 0;
	}
	h3 {
	    margin: 40px 0 5px 0;
	    font-size: 25px;
	    font-weight: 700;
	    font-family: 'Lato';
	}
}
// SẢN PHẨM
.sanpham__home{
    color: #333333;
    padding: 20px 0 40px;
}

// Menu bars
.menu-res{
	display: none;
	position: absolute;
	font-size: 30px;
	right: 15px;
	top: 40px;
}