.wrap-lienhe {
    padding: 50px 0;
}
// lien he
.contact__lienhe {
	i {
	    margin-right: 5px;
	    font-size: 15px;
	}
	label{
		font-size: 17px;
    font-weight: 300;
    display: block;
    margin: 15px 0;
	}
	input {
    width: 100%;
    padding-left: 15px;
    padding: 7px 5px 7px 15px;
    border: 1px solid #ced4da;
    color: #495057;
    line-height: 21px;
    letter-spacing: 1px;
	}
}
.fas.fa-phone{
	transform: rotate(90deg);
}
.sodienthoai__lienhe, .email__lienhe{
	float: left;
  box-sizing: border-box;
	width: 50%;
}
.sodienthoai__lienhe{
	padding-right: 15px;
}
.email__lienhe{
	padding-left: 15px;
}
.yeucausanpham__lienhe{
	textarea{
		width: 100%;
    border: 1px solid #ced4da;
    outline: none;
    padding: 5px 15px;
    padding-bottom: 50px;
    line-height: 20px;
    letter-spacing: 1px;
    max-height: 400px;
	}
}
.guiyeucau__lienhe {
    text-align: center;
    button{
        margin-top: 30px;
        border-radius: 25px;
        border: none;
        padding: 0px 30px;
        background: #3e9e54;
        color: #fff;
        font-size: 18px;
        line-height: 50px;
    }
}
// Address
.address__lienhe {
    margin-bottom: 30px;
    font-size: 15px;
    i{
    	margin-right: 5px;
    }
}
.name-web{
	display: inline-block;
	padding-left: 40px;
}
.map__lienhe iframe{
  width:100%;
  height:399px;
  border:0;
}
// validate - lienhe
.wrap-lienhe .contact__lienhe label:last-child {
    font-size: 14px;
    color: #3e9e54;
    padding-left: 5px;
    position: absolute;
    margin: 7px 0;
}
.name__lienhe{
    margin-bottom: 20px;
}
.sodienthoai__lienhe, .email__lienhe{
    margin-bottom: 30px;
    position: relative;
}
.yeucausanpham__lienhe {
    padding-top: 10px;
}