.tin__tuc--right {
    padding: 0 5px;
}

.right__box1 {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    &--header {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        background: #141414;
        border-radius: 5px 5px 0 0;
        padding: 13px;
        span {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    &--body {
        background: #fff;
        border-radius: 0px 0px 5px 5px;
        .category {
            position: relative;
            border-bottom: 1px solid #dedede;
            padding: 10px 0px;
            margin: 0 10px 0;
            &:last-child {
                border-bottom: none;
            }
        }
        a {
            padding: 10px 0 0;
            text-decoration: none;
            color: #000;
            font-weight: 500;
            line-height: 1.5;
            font-size: 15px;
            &:hover {
                color: #3e9e54;
                font-weight: bold;
            }
        }
        i {
            position: absolute;
            right: 0;
            top: 12px;
            font-size: 20px;
            font-weight: bold;
            color: #f30a19;
        }
    }
}

.right__box2 {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    background: #fff;
    position: relative;
    img {
        padding: 5px 0 5px 10px;
        width: 50px;
        height: 50px;
    }
    a {
        text-decoration: none;
        color: #353535;
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 10px;
    }
}

.right__box3 {
    margin-top: 25px;
    .heading {
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        strong {
            margin: 8px 0 12px;
            display: block;
            color: #2636a3;
        }
    }
    li {
        border-bottom: 1px solid #cccccc;
        width: 100%;
        background: #fff;
        overflow: hidden;
        padding: 25px 5px;
        position: relative;
        &:first-child {
            border-radius: 5px 5px 0 0;
        }
        &:last-child {
            border-radius: 0 0 5px 5px;
            border-bottom: none;
        }
    }
    .product {
        width: 100px;
        display: block;
        float: left;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        a {
            display: block;
        }
        >img {
            position: absolute;
            top: -10px;
            right: 0;
            width: 35px;
            height: 30px;
        }
        &__infor {
            width: 50%;
            float: right;
            text-align: left;
            a {
                display: block;
                text-transform: uppercase;
                color: #1f2b7f;
                margin-top: 0;
            }
            p {
                margin: 0;
            }
        }
    }
}

.right__box4 {
    a {
        display: block;
        margin-top: 15px;
        img {
            width: 100%;
        }
    }
}