// Start: news

mixin news()
  .tin__tuc--right
    .right__box1
      .right__box1--header
        span Tin tức
      .right__box1--body
        .category
          a(href="#") Hiểu biết về xe máy
          i.fa.fa-angle-right 
        .category
          a(href="#") Hiểu biết về xe đạp điện
          i.fa.fa-angle-right
    .right__box2
      img(src="http://alberta.com.vn/frontend/images/bongden.png" alt="bóng đèn")
      a(href="#") Hướng dẫn sử dụng
    .right__box3
      p.heading
        span Sản phẩm bán chạy
        strong Tháng 9
      ul
        li
          .product
            img(src="https://dkbike.vn/Lib/Content/product-icon/2.png" alt="bán chạy")
            a(href="chitietsanpham.html")
              img(src="https://dkbike.vn/Images/Product/thumb_dk-mumar-133gs-jpN6pA.png" alt="xe bò")
          .product__infor
            a(href="sanpham.html") ALPHA MUMAR 133GS
            p 13.990.000đ
          .clear-fix
        li
          .product
            img(src="https://dkbike.vn/Lib/Content/product-icon/2.png" alt="bán chạy")
            a(href="chitietsanpham.html")
              img(src="https://dkbike.vn/Images/Product/thumb_dk-mumar-133gs-jpN6pA.png" alt="xe bò")
          .product__infor
            a(href="sanpham.html") ALPHA MUMAR 133GS
            p 13.990.000đ
          .clear-fix
        li
          .product
            img(src="https://dkbike.vn/Lib/Content/product-icon/2.png" alt="bán chạy")
            a(href="chitietsanpham.html")
              img(src="https://dkbike.vn/Images/Product/thumb_dk-mumar-133gs-jpN6pA.png" alt="xe bò")
          .product__infor
            a(href="sanpham.html") ALPHA MUMAR 133GS
            p 13.990.000đ
          .clear-fix
        li
          .product
            img(src="https://dkbike.vn/Lib/Content/product-icon/2.png" alt="bán chạy")
            a(href="chitietsanpham.html")
              img(src="https://dkbike.vn/Images/Product/thumb_dk-mumar-133gs-jpN6pA.png" alt="xe bò")
          .product__infor
            a(href="sanpham.html") ALPHA MUMAR 133GS
            p 13.990.000đ
          .clear-fix
        li
          .product
            img(src="https://dkbike.vn/Lib/Content/product-icon/2.png" alt="bán chạy")
            a(href="chitietsanpham.html")
              img(src="https://dkbike.vn/Images/Product/thumb_dk-mumar-133gs-jpN6pA.png" alt="xe bò")
          .product__infor
            a(href="sanpham.html") ALPHA MUMAR 133GS
            p 13.990.000đ
          .clear-fix
    .right__box4
      a(href="")
        img(src="https://dkbike.vn/Images/Banner/01-nla09a.jpg" alt="")

// End: news
