.bg__inner {
    position: relative;
    &--infor {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
    li {
        display: inline-block;
        color: #fff;
        &.active {
            color: #ffdd00;
        }
    }
    a {
        font-size: 16px;
        line-height: 20px;
    }
    img {
        width: 100%;
        height: 75px;
    }
}