// Start: bg-title
mixin bg-title(urlbgtitle, urltitle, urlimgbg, urlnoteimg )
	.bg__inner
		.bg__inner--infor
			.container
				ul
					li
						a(href="home.html") Trang chủ
					li /
					li.active
						a(href=urlbgtitle)= urltitle
		img(src= urlimgbg alt= urlnoteimg)

// End: bg-title
